// ### Style générique ### //

/* ### COMPONENTS ### */

@import "reset"; // Import reset CSS

@import "variables"; // Import variable

@import "font-awesome"; // Import icon

@import "credit"; // credit

@import "header"; // header

@import "button"; // button

@import "overlay"; // overlay

/* ### FONTS ### */

// Main font
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}

@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedItalic.otf);
  font-style: italic;
}

// Code Font
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}


html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $mainFont, "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

/* ### Class colors ### */

.rose {
  color: $pinkToddle;
}

.bleu {
  color: $blueToddle;
}

.beige {
  color: $beigeToddle;
}

.noir {
  color: black;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

i {
  font-style: italic;
}

.fa {
  vertical-align: middle; // Icon center default
}

.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  * {
    outline: none;
    box-sizing: border-box;
  }
  input {
    font-family: $mainFont, "Arial", "Helvetica", sans-serif;
  }

  footer {
    width: 100%;
    text-align: right;
    position: absolute;
    z-index: 0;
    bottom: 1%;
    right: 1%;
    img {
      width: 5%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1%;
    }
  }

} // container