// ### Style générique ###

@import "../stylesheets/reset.css"; // Import reset CSS
@import "../stylesheets/font-awesome.min.css"; // Import icon

/* ###### VARIABLES ###### */

// Colors //
$blueToddle : #355E7E;
$pinkToddle : #F38F9A;
$beigeToddle : #F8B195;

/* ###### FONTS ###### */

// Main font
@font-face {
    font-family: "GothamRounded";
    src: url(../fonts/GothamRoundedBook.ttf);
}

@font-face {
    font-family: "GothamRounded";
    src: url(../fonts/GothamRoundedBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "GothamRounded";
    src: url(../fonts/GothamRoundedMedium.ttf);
    font-weight: 600;
}

// Code Font
@font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata.otf);
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.fa {
    vertical-align: middle; // Centrage des icones par defaut
}

.container {
    background: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    header {
        overflow: hidden;
        text-align: center;
        width: 100%;
        margin: 0 0 15px 0;
        height: 15%;
        img, .name {
            margin: 15px 0 0 0;
        }
        .toddle_form {
            width: 100px;
            float: left;
        }
        .toddle_text {
            width: 200px;
        }
        .name {
            color: $pinkToddle;
            float: right;
            font-size: 30px;
            margin: 15px 25px 0 0;
        }
    }
}

.btn_toddle {
    background: $blueToddle;
    padding: 20px;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    margin: 0 auto;
}

.btn_help {
    background: $pinkToddle;
    color: #fff;
    border: none;
    border-radius: 35px;
    font-size: 30px;
    width: 70px;
    height: 70px;
}