// ### Style index.html ###

@import "general";

.container {
    text-align: center;
    .logo_toddle {
        width: 450px;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .launch {
        background: $blueToddle;
        padding: 20px;
        color: #fff;
        border: none;
        border-radius: 50px;
        font-size: 30px;
        margin: 0 auto;
    }
    .content {
        height: 69%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}