// ### Style index.html ###
@import "general";

body {
  overflow: hidden;
}

.container {
  text-align: center;
  position: relative;
  overflow: hidden;
  .content {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-52%); /* tiré de la moitié de sa propre hauteur */
    .blocBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      .btnChoice {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        opacity: 0;
        right: 100%;
      }
      button {
        @extend .btn_toddle;
        font-size: 25px;
        margin: 20px;
        padding: 25px;
        background: none;
        border: 2px solid $blueToddle;
        color: $blueToddle;
        -webkit-transition: color .4s, background .4s; /* For Safari 3.1 to 6.0 */
        transition: color .4s, background .4s;
        &.selected {
          background: $blueToddle;
          color: #fff;
        }
        &.launch {
          position: relative;
          background: $blueToddle;
          padding: 2%;
          color: #fff;
          border: none;
          border-radius: 50px;
          font-size: 3.5vw;
          margin: auto;
          position: relative;
        }
      }
      // button
    }
    // .blocBtn
    .valide {
      display: none;
      opacity: 0;
      z-index: 100;
      font-size: 4vw;
      position: absolute;
      right: 100%;
      left: 0;
      transition: all .5s;
      .fa-circle {
        color: $pinkToddle;
      }
      &.active {
        right: 0;
        left: 50%;
        margin-left: -40px;
        opacity: 1;
      }
    }
  }
  .logo_toddle {
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.cs-loader-inner {
  position: absolute;
  top: 2%;
  width: 100%;
  color: #000;
  padding: 0;
  text-align: center;
  label {
    font-size: 4rem;
    opacity: 0;
    display: inline-block;
  }
  label:first-child {
    color: #F07381;
  }
  label:nth-of-type(2) {
    color: #355E7E;
  }
  label:nth-of-type(3) {
    color: #F8B195;
  }
  label:nth-of-type(4) {
    color: #F07381;
  }
  label:nth-of-type(5) {
    color: #355E7E;
  }
  label:nth-of-type(6) {
    color: #F8B195;
  }
  .anim:nth-of-type(6) {
    -moz-animation: anim 2s ease-in-out infinite;
    -webkit-animation: anim 2s ease-in-out infinite; /* Safari 4.0 - 8.0 */
    animation: anim 2s ease-in-out infinite;
  }
  .anim:nth-of-type(5) {
    -moz-animation: anim 2s ease-in-out 0.1s infinite;
    -webkit-animation: anim 2s ease-in-out 0.1s infinite; /* Safari 4.0 - 8.0 */
    animation: anim 2s ease-in-out 0.1s infinite;
  }
  .anim:nth-of-type(4) {
    -moz-animation: anim 2s ease-in-out 0.2s infinite;
    -webkit-animation: anim 2s ease-in-out 0.2s infinite; /* Safari 4.0 - 8.0 */
    animation: anim 2s ease-in-out 0.2s infinite;
  }
  .anim:nth-of-type(3) {
    -moz-animation: anim 2s ease-in-out 0.3s infinite;
    -webkit-animation: anim 2s ease-in-out 0.3s infinite; /* Safari 4.0 - 8.0 */
    animation: anim 2s ease-in-out 0.3s infinite;
  }
  .anim:nth-of-type(2) {
    -moz-animation: anim 2s ease-in-out 0.4s infinite;
    -webkit-animation: anim 2s ease-in-out 0.4s infinite; /* Safari 4.0 - 8.0 */
    animation: anim 2s ease-in-out 0.4s infinite;
  }
  .anim:nth-of-type(1) {
    -moz-animation: anim 2s ease-in-out 0.5s infinite;
    -webkit-animation: anim 2s ease-in-out 0.5s infinite; /* Safari 4.0 - 8.0 */
    animation: anim 2s ease-in-out 0.5s infinite;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

