// ### Style index.html ###

@import "general";

.container {
    text-align: center;
    display: flex;
    align-items: center;
    .logo_toddle {
        width: 45%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .launch {
        background: $blueToddle;
        padding: 2%;
        color: #fff;
        border: none;
        border-radius: 50px;
        font-size: 3.5vw;
    }
}