@import "general";
@import "artwork";

.container {
  font-weight: 600;
  #handclick {
    top: 83%;
    left: 42%;
    animation-duration: 3s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-play-state: running;
  }

  .consignes {
    text-align: center;
    font-size: 18px;
    color: $blueToddle;
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
  }
  .topBloc {
    width: 100%;
    position: relative;
    .souscontainer {
      display: flex;
      justify-content: center;
      .teintes {
        p:nth-child(1) {
          margin-top: 60px;
        }
        p {
          text-align: center;
          font-size: 24px;
        }
      }
    }
    .bouton2 {
      position: absolute;
      z-index: 1100;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $pinkToddle;
      width: 70px;
      height: 70px;
      border-radius: 35px;
      bottom: 1%;
      & > img {
        width: 50%;
      }
      &:active {
        background-color: $blueToddle;
      }
    }
    #indice {
      left: 3%;
    }
    #but {
      right: 7.5%;
    }
    canvas {
      background: #EFE9D3;
      width: 60%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  .sousBloc {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    .colorsG, .colorsD {
      display: inline-block;
    }
    .colors {
      vertical-align: top;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px;
      margin-top: 3px;
    }
    .bouton2 {
      align-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $pinkToddle;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-bottom: 1%;
      & > img {
        width: 50%;
      }
      &:active {
        background-color: $blueToddle;
      }
    }
    .bouton {
      align-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $pinkToddle;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-bottom: 1%;
      color: white;
      &:active {
        background-color: $blueToddle;
      }

    }
    #codegauche {
      width: 41%;
      border: 1px solid;
      height: 200px;
      margin: 10px;
      font-size: 24px;
      #nbgauche {
        font-size: 52px;
      }
      .indent1 {
        margin-left: 10px;
      }
      .indent2 {
        margin-left: 20px;
      }
    }
    #codedroit {
      width: 41%;
      border: 1px solid;
      height: 200px;
      margin: 10px;
      font-size: 24px;
      #nbdroit {
        font-size: 52px;
      }
      .indent1 {
        margin-left: 10px;
      }
      .indent2 {
        margin-left: 20px;
      }
    }
  }
} // container



@keyframes slide {
  0% {
    top: 83%;
    left: 42%;
  }

  50% {
    top: 65%;
    left: 42%;
  }

  0% {
    top: 83%;
    left: 42%;
  }
}