@import "general";

.container {
    .content {
        height: 83%;
    }
    .map {
        width: 100%;
        height: auto;
    }
    .group_btn {
        text-align: center;
        form {
            display: inline-block;
            .container_input {
                display: inline-block;
                position: relative;
                width: 300px;
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 300px;
                    height: 100%;
                    padding: 14px 0;
                    opacity: 0;
                }
                label {
                    @extend .btn_toddle;
                    margin-right: 50px;
                }
            } // .container_input
        }
        .help_map {
            @extend .btn_help;
        }
    }
} // .container