@import "general";

.container {
    .content {
        height: 83%;
    }
    .map {
        width: 100%;
        height: auto;
    }
    .group_btn {
        display: flex;
        justify-content: center;
        form {
            margin-right: 4%;
            .container_input {
                display: inline-block;
                position: relative;
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
                label {
                    @extend .btn_toddle;
                    font-size: 3vw;
                    display: block;
                }
            } // .container_input
        }
        .help_map {
            font-size: 2.7vw;
            .fa-circle {
                color: $pinkToddle;
            }
            .fa-question {
                color: #fff;
            }
        }
    }
} // .container