// ### Style oeuvre.php ###
@import "general";
@import "artwork";

.container {
  #jeu {
    width: 100%;
    height: 83%;
    /*Décalage compensé dans .rightBloc pour pas de bug dans les coordonnées pour le drop des étiquettes*/
    padding-left: 2%;
    padding-right: 2%;
    #handclick {
      top: 57%;
      left: 57%;
    }
    .leftBloc {
      float: left;
      width: 48%;
      height: 92%;
      position: relative;
      z-index: 10;
      .bouton2 {
        z-index: 1100;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pinkToddle;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        bottom: 10%;
        & > img {
          width: 50%;
        }
      }
      .bluebouton {
        background-color: $blueToddle;
      }
    }
    .rightBloc {
      float: right;
      width: 50%;
      height: 92%;
      overflow: hidden;
      h2 {
        text-align: center;
        padding: 5px;
        margin: 0;
      }
      & > div {
        padding: 10px;
        width: 100%;
      }
      .codeBloc {
        font-size: 19px;
        padding: 15px;
        bottom: 0;
        height: 45%;
        h2 {
          color: $pinkToddle;
          font-weight: bold;
          font-size: 32px;
        }
        .consignes {
          padding-top: 4%;
          font-weight: 600;
          color: $blueToddle;
          text-align: justify;
        }
      }
      .etiqBloc {
        height: 55%;
        .bouton {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $pinkToddle;
          width: 50px;
          height: 50px;
          border-radius: 25px;
          color: white;
        }
        .bluebouton {
          background-color: $blueToddle;
        }
        .etiq {
          z-index: 15;
          border-radius: 25px;
          width: 43%;
          padding: 15px;
          margin: 10px auto;
          background: $blueToddle;
          color: #fff;
          text-align: center;
        }
        /*Les pourcentages de positionnement sont en relation avec le div avec l'id: jeu et non relatif à la div de classe:rightBloc*/
        #rectangle {
          position: absolute;
          margin-top: 17.5%;
          margin-left: 1.5%;
        }
        #rouge {
          position: absolute;
          margin-top: 2.5%;
          margin-left: 50%;
          display: none;
        }
        #jaune {
          position: absolute;
          margin-top: 10%;
          margin-left: 50%;
          display: none;
        }
        #carre {
          position: absolute;
          margin-top: 10%;
          margin-left: 1.5%;
        }
        #rond {
          position: absolute;
          margin-top: 2.5%;
          margin-left: 1.5%;
        }
        #violet {
          position: absolute;
          margin-top: 17.5%;
          margin-left: 50%;
          display: none;
        }
        #undo {
          position: absolute;
          margin-top: 25%;
          margin-left: 9%;
        }
        #valider {
          position: absolute;
          margin-top: 25%;
          margin-left: 33.5%;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    top: 57%;
    left: 57%;
  }

  to {
    top: 48%;
    left: 18%;
  }
}