// ### Style oeuvre.php ###

@import "general";
.overlay{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
.container {
    header{
    }
    #win{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        z-index: 10000;
        display: none;

        .title{
          font-weight: 600;
          color: $pinkToddle;
          font-size: 54px;
        }
        .titlesuite{
          color: $pinkToddle;
          font-size: 42px;
        }
        .content-win{
            width: 90%;
            height: 90%;
            margin-left: 5%;
            margin-top: 3.75%;
            padding-top: 2%;
            border: 5px solid $blueToddle;
            background-color: white;
            border-radius: 50px;
            text-align: center;
            color: $blueToddle;
            font-size: 26px;
            hr {
              border: 3px solid $pinkToddle;
              border-radius: 25px;
              width: 70%;
              margin: 3% auto;
            }
            .continuer{
              color: #fff;
              background-color: $blueToddle;
              width: 35%;
              height: 75px;
              border-radius: 50px;
              font-size: 35px;
            }
            .name{
              color: $pinkToddle;
            }
        } 
    }
    #loose{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        z-index: 10000;
        display: none;

        .content-loose{
            width: 70%;
            height: 60%;
            margin-left: 15%;
            margin-top: 15%;
            border: 5px solid $pinkToddle;
            display: flex;
            justify-content: center;
            background-color: white;
            border-radius: 50px;
        } 
    }
    #jeu{
        width: 100%;
        height: 83%;
            /*Décalage compensé dans .rightBloc pour pas de bug dans les coordonnées pour le drop des étiquettes*/
        padding-left: 2%;
        padding-right: 2%;
        .leftBloc {
            float: left;
            width: 48%;
            height: 92%;
            overflow: hidden;
            .bouton2{
                z-index: 1100;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $pinkToddle;
                width: 70px;
                height: 70px;
                border-radius: 35px;
                bottom: 10%;
                & > img{
                    width: 50%;
                }
            }
            .bluebouton{
                background-color: $blueToddle;
            }
            #indice{
                left: 3%;
                position: absolute;
            }
            #but{
                right: 53%;
                position: absolute;
            }

                /*1ere Pop Up*/
            .wrap {
            z-index: 1000;
              position: absolute;
              overflow: hidden;
              width: 40%;
              height: 65%;
              left: 5%;
              top: 22%;
              padding: 20px 50px;
              display: block;
              border-radius: 4px;
              transition: all 0.5s;
              visibility: hidden;
              transform: translateY(20px);
            }
            .wrap .content {
              opacity: 0;
            }
            .wrap:before {
              position: absolute;
              width: 1px;
              height: 1px;
              background: white;
              content: "";
              top: 100%;
              left: 0;
              color: #fff; 
              border-radius: 50%;
              -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            .wrap.active {
              display: block;
              visibility: visible;
              transition: all 600ms;
              transform: translateY(0px);
              transition: all 0.5s;
              border: 7px solid $pinkToddle;
            }
            .wrap.active:before {
              height: 2000px;
              width: 2000px;
              border-radius: 75%;
              top: 50%;
              left: 50%;
              margin-left: -1000px;
              margin-top: -1000px;
              display: block;
              -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            .wrap.active .content {
              position: relative;
              z-index: 1;
              opacity: 1;
              transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            /*2eme Pop up*/

            .wrap2 {
                z-index: 1000;
              position: absolute;
              overflow: hidden;
              width: 40%;
              height: 65%;
              left: 5%;
              top: 22%;
              padding: 10px;
              display: block;
              border-radius: 4px;
              transition: all 0.5s;
              visibility: hidden;
              transform: translateY(20px);
            }
            #indicecontent{
                width: 100%;
                height: 100%;
            }
            .wrap2 .content {
              opacity: 0;
            }
            .wrap2:before {
              position: absolute;
              width: 1px;
              height: 1px;
              background: white;
              content: "";
              top: 100%;
              left: 100%;
              color: #fff; 
              border-radius: 50%;
              -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            .wrap2.active {
              display: block;
              visibility: visible;
              transition: all 600ms;
              transform: translateY(0px);
              transition: all 0.5s;
              border: 5px solid $pinkToddle;
            }
            .wrap2.active:before {
              height: 2000px;
              width: 2000px;
              border-radius: 50%;
              top: 50%;
              left: 50%;
              margin-left: -1000px;
              margin-top: -1000px;
              display: block;
              -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            .wrap2.active .content {
              position: relative;
              z-index: 1;
              opacity: 1;
              transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
              width: 100%;
              height: 100%;
            }
        }
        .rightBloc {
            float: right;
            width: 50%;
            height: 92%;
            /*margin-right: 2%;*/

            h2 {
                text-align: center;
                padding: 5px;
                margin: 0;
            }
            & > div {
                padding: 10px;
                width: 100%;
            }
            .codeBloc {
                /*text-align: justify;*/
                font-family: "GothamRounded", sans-serif;
                font-size: 16px;
                padding: 15px;
                bottom: 0;
                height: 45%;
                h2{
                    color: $pinkToddle;
                    font-weight: bold;
                    font-size: 32px;
                }
                .consignes{
                  padding-top: 4%;
                  font-weight: 600;
                  color: $blueToddle;
                  text-align: justify;
                }
            }
            .etiqBloc {
                height: 55%;
                .bouton{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $pinkToddle;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    color: white;
                }
                .bluebouton{
                    background-color: $blueToddle;
                }
                .etiq {
                    cursor: move;
                    border-radius: 25px;
                    width: 20%;
                    padding: 15px;
                    margin: 10px auto;
                    background: $blueToddle;
                    color: #fff;
                    font-family: "GothamRounded", sans-serif;
                    text-align: center;
                    /*Pas de position: relative car jai besoin pour le drag&drop, 
                    que la position absolute des etiquettes prennent en compte 
                    le parent de la div de droite, c-à-d la div jeu pour avoir de bonnes coordonées pour le drop*/
                }
                    /*Les pourcentages de positionnement sont en relation avec le div avec l'id: jeu et non relatif à la div de classe:rightBloc*/
                #vert{
                    position: absolute;
                    margin-top: 2.5%;
                    margin-left: 1.5%;
                }
                #rouge{
                    position: absolute;
                    margin-top: 2.5%;
                    margin-left: 25.5%;
                }
                #jaune{
                    position: absolute;
                    margin-top: 10%;
                    margin-left: 1.5%;
                }
                #carre{
                    position: absolute;
                    margin-top: 10%;
                    margin-left: 25.5%;
                }
                #rond{
                    position: absolute;
                    margin-top: 17.5%;
                    margin-left: 1.5%;
                }
                #violet{
                    position: absolute;
                    margin-top: 17.5%;
                    margin-left: 25.5%;
                }
                #undo{
                    position: absolute;
                    margin-top: 25%;
                    margin-left: 9%;

                }
                #valider{
                    position: absolute;
                    margin-top: 25%;
                    margin-left: 33.5%;
                }
            }
        }
    }
}