@import "general";
.overlay{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
.container{
    font-weight: 600;
    #handclick{
      top: 67%;
      left: 47%;
      z-index: 10000;
      animation-duration: 2s;
      animation-name: slide;
      animation-iteration-count: infinite;
    }
    #win{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        z-index: 10000;
        display: none;
        .title{
          font-weight: 600;
          color: $pinkToddle;
          font-size: 54px;
        }
        .titlesuite{
          color: $pinkToddle;
          font-size: 42px;
        }
        .content-win{
            width: 70%;
            height: 70%;
            margin-left: 15%;
            margin-top: 11.5%;
            padding-top: 3.5%;
            background-color: white;
            border-radius: 50px;
            text-align: center;
            color: $blueToddle;
            font-size: 26px;
            p{
              width: 70%;
              margin-left: 15%;
            }
            hr {
              border: 3px solid $pinkToddle;
              border-radius: 25px;
              width: 70%;
              margin: 3% auto;
            }
            .continuer{
              color: #fff;
              background-color: $blueToddle;
              width: 35%;
              height: 75px;
              border-radius: 50px;
              font-size: 30px;
              margin: 4% 0;
            }
            .name{
              color: $pinkToddle;
            }
            .parentheses{
              color: $blueToddle;
              font-weight: bold;
            }
        } 
    }
    #loose{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        z-index: 10000;
        display: none;
        .title{
          font-weight: 600;
          color: $pinkToddle;
          font-size: 54px;
        }
        .content-loose{
            width: 70%;
            height: 45%;
            margin-top: 20%;
            margin-left: 15%;
            padding-top: 2%;
            background-color: white;
            border-radius: 50px;
            text-align: center;
            color: $blueToddle;
            font-size: 26px;
            p{
              width: 75%;
              margin-left: 12.5%;
            }
            hr {
              border: 3px solid $pinkToddle;
              border-radius: 25px;
              width: 70%;
              margin: 3% auto;
            }
            .rechercher{
              color: #fff;
              background-color: $blueToddle;
              width: 35%;
              height: 75px;
              border-radius: 50px;
              font-size: 35px;
              margin-top: 0.5%;
            }
            .name{
              color: $pinkToddle;
            }
        } 
    }
    h2{
        text-align: center;
        font-size: 24px;
        padding-bottom: 10px;
    }
    .consignes{
        text-align: center;
        font-size: 18px;
        color: $blueToddle;
        width: 80%;
        margin-left: 10%;
    }
    .leftBloc{
        width: 50%;
        float: left;
        padding-left: 1%;
        position: relative;
        .souscontainer{
            width: 470px;
            height: 470px;
            overflow: hidden;
            position: relative;

            .content{
                margin-top: -107px;
                margin-left: -107px;
                canvas {
                    position: absolute;
                }
            }
        }
    }
    .rightBloc{
        .code{
            padding: 10px;
            background-color: rgba(188,188,188,0.2);
            width: 90%;
            .alinea1{
                margin-left: 7px;
            }
            .alinea2{
                margin-left: 14px;
            }
            .alinea3{
                margin-left: 21px;
            }
        }
        .columns{
            display: flex;
            margin-top: 25px;
            color: $pinkToddle;
            font-size: 20px;
            .gauche{
                width: 50%;
            }
            .droite{
                width: 50%;
            }
            span{
                margin-left: 70%;
            }
            .buttonV{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $pinkToddle;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                color: white;
                font-size: 15px;
                margin-left: 60%;
                &:active{
                    background-color: $blueToddle;
                }
            }
        }
        width: 50%;
        float: right;
        input[type=range] {
            -webkit-appearance: none;
            margin: 18px 0;
            width: 80%;
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 17px;
            background: $blueToddle;
            border-radius: 7.5px;
        }
        input[type=range]::-webkit-slider-thumb {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            background: $pinkToddle;
            -webkit-appearance: none;
            margin-top: -10px;
        }
        input[type=range]::-moz-range-track {
            width: 100%;
            height: 17px;
            background: $blueToddle;
            border-radius: 7.5px;
        }
        input[type=range]::-moz-range-thumb {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            background: $pinkToddle;
            -webkit-appearance: none;
            margin-top: -10px;
        }
    }
}
@keyframes slide {
  from {
    top: 67%;
    left:47%;
  }

  to {
    top: 67%;
    left:65%;
  }
}