@import "general";
@import "artwork";

.container {
  font-weight: 600;
  #handclick {
    top: 71%;
    left: 57%;
  }
  .consignes {
    text-align: center;
    font-size: 18px;
    color: $blueToddle;
    width: 80%;
    margin: 0 auto;
    font-weight: 600;
  }
  .leftBloc {
    overflow: hidden;
    width: 48%;
    height: 500px;
    float: left;
    margin-left: 1%;
    position: relative;
    .souscontainer {
      height: 100%;
      width: 100%;
      overflow: hidden;
      canvas {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
      #myCanvas {
        z-index: 0;
      }
      #myCanvas2 {
        z-index: 2;
      }
    }
  }
  .rightBloc {
    width: 50%;
    float: right;
    .code {
      padding: 10px;
      background-color: #F2F2F2;
      width: 96%;
      font-family: $mainFont, "Inconsolata", "Arial";
      font-size: 26px;
      height: 202px;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $pinkToddle;
      }

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: $blueToddle;
      }
      .cadre {
        border: 1px solid $pinkToddle;
        padding: 5px;
        content: "";
        border-radius: 20px;
        #noircache,
        #varcache,
        #rougecache,
        #dtcache,
        #ctcache,
        #dlcache {
          visibility: hidden;
          color: white;
        }
      }
    }
    // .code
    .etiquettes {
      .etiq {
        z-index: 10;
        border-radius: 25px;
        width: 20%;
        padding: 15px;
        background: $blueToddle;
        color: #fff;
        text-align: center;
        position: absolute;
      }
      #rouge {
        top: 57%;
        left: 52%;
      }
      #cligne {
        top: 57%;
        left: 77%;
      }
      #ctriangle {
        top: 75%;
        left: 77%;
      }
      #dligne {
        top: 75%;
        left: 52%;
      }
      #dtriangle {
        top: 66%;
        left: 77%;
      }
      #noir {
        top: 66%;
        left: 52%;
      }
    }
    .bouton {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $pinkToddle;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      color: white;
      &:active {
        background-color: $blueToddle;
      }
    }
    #valider {
      top: 83%;
      left: 59%;
    }
    #undo {
      top: 83%;
      left: 84%;
    }
  }
  // .rightBloc
}

@keyframes slide {
  from {
    top: 71%;
    left: 57%;
  }

  to {
    top: 30%;
    left: 78%;
  }
}