@import "general";

body {
    overflow: hidden;
}

.content {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    height: 83%;
    p {
        text-transform: uppercase;
        color: $blueToddle;
        &.announce {
            color: $pinkToddle;
            margin: 40px 0;
            span {
                color: $blueToddle;
            }
        }
    }
    .listeUser {
        width: 67%;
        float: left;
        overflow: scroll;
        overflow-x: hidden;
        height: 450px;
        text-align: left;
        padding: 0 0 0 10%;
        margin: 0 2% 0 0;
        li {
            color: $blueToddle;
            &.own {
                color: $pinkToddle;
            }
            .nbr {
                width: 13%;
                display: inline-block;
            }
            .pseudo {
                display: inline-block;
            }
            .time {
                font-weight: normal;
                float: right;
                padding: 0 8%;
            }
        }
    }
    .giftBlock {
        padding: 8% 2% 0 0;
        .trait {
            border: 2px solid $pinkToddle;
            width: 20%;
            margin: 20px auto;
        }
        p {
            font-size: 1.5rem;
        }
        .fa-circle {
            color: $pinkToddle;
        }
    }
}
.popup {
    input {
        border-radius: 50px;
        color: $blueToddle;
        border: 2px solid $blueToddle;
        text-align: center;
        padding: 12px 30px;
        display: inline-block;
        margin: 30px 0;
        font-size: 30px;
    }
    .fa-circle {
        color: $blueToddle;
    }
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: $pinkToddle;    
    border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $blueToddle;
}