// ### Style tuto.php ###

@import "general";

.container {
    .lessons {
        height: 83%;
        width: 100%;
        .lesson {
            width: 10%;
            height: 100%;
            float: left;
            text-align: center;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
            * {
                display: none;
            }
            &:first-child {
                border-radius: 20px 0 0 20px;
                background: $beigeToddle;
                .understood{
                    color: $beigeToddle;
                }
            }
            &:nth-child(2){
                background: $pinkToddle;
                .understood {
                    color: $pinkToddle;
                }
            }
            &:last-child{
                border-radius: 0 20px 20px 0;
                background: $blueToddle;
                .understood {
                    color: $blueToddle;
                }
            }
            // "up" class for lesson selected
            &.up {
                width: 80%;
                * {
                    display: block;
                }
            }
            .fa-chevron-left {
                position: absolute;
                left: 15px;
                top: 15px;
                color:white;
            }
            .content {
                .number {
                    font-size: 110px;
                    box-sizing: content-box;
                    border-radius: 50%;
                    border: 10px solid #fff;
                    display: inline-block;
                    color: #fff;
                    font-weight: bold;
                    width: 180px;
                    line-height: 180px;
                    height: 180px;
                }
                .explication {
                    margin: 50px 0;
                    font-size: 22px;
                    color: #fff;
                    width: 80VW;
                }
                .understood {
                    @extend .btn_toddle; // Import style btn default toddle
                    background: #fff;
                    padding: 8px 70px
                }
            }
        } // .lesson
    } // .lessons
} // .container