@import url(../stylesheets/reset.css);
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "SourceSansProBold";
  src: url(../fonts/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: "SourceSansProSemiBold";
  src: url(../fonts/SourceSansPro-SemiBold.otf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf);
}
/* line 27, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "SourceSansPro", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* line 36, ../sass/general.scss */
* {
  box-sizing: border-box;
}

/* line 40, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* line 5, ../sass/accueil.scss */
.container {
  background: #000;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 10, ../sass/accueil.scss */
.container .launch {
  background: #fff;
  padding: 10px;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 2em;
  display: block;
  margin: 0 auto;
}
/* line 21, ../sass/accueil.scss */
.container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  /*dim the background*/
}
/* line 29, ../sass/accueil.scss */
.container .overlay .containerForm {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 35%;
  height: 20%;
  background: grey;
  border-radius: 5px;
  border: 2px solid #fff;
}
/* line 38, ../sass/accueil.scss */
.container .overlay .containerForm input {
  border: none;
}
/* line 41, ../sass/accueil.scss */
.container .overlay .containerForm input[type="submit"] {
  padding: 10px 20px;
  border-radius: 8px;
  display: block;
  font-weight: bold;
  margin: 10px auto 0 auto;
}
