@charset "UTF-8";
@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf); }
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold; }
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600; }
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Regular.ttf); }
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf);
  font-weight: bold; }
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px; }

/* ###### CR├ëDITS ###### */
.credits {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  z-index: 10000;
  background-color: white; }
  .credits #croix {
    position: absolute;
    right: 10%;
    color: #aaa;
    margin-top: 50px; }
  .credits .title {
    font-size: 72px;
    font-weight: 600;
    color: #F38F9A;
    width: 100%;
    text-align: center;
    padding: 50px 30px; }
  .credits .justify {
    text-align: justify; }
  .credits .content {
    padding-left: 30px;
    font-size: 20px;
    color: #355E7E;
    font-weight: 600;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px; }
  .credits .logo {
    display: inline-block;
    vertical-align: middle;
    width: 100px; }

.fa {
  vertical-align: middle; }

/* ###### Class for colors ###### */
.rose {
  color: #F38F9A; }

.bleu {
  color: #355E7E; }

.beige {
  color: #F8B195; }

.noir {
  color: black; }

.six {
  font-weight: 600; }

.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative; }
  .container * {
    outline: none;
    box-sizing: border-box; }
  .container input {
    font-family: 'GothamRounded'; }
  .container img {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none; }
  .container button {
    background: none;
    border: none;
    font-family: 'GothamRounded';
    text-transform: uppercase;
    font-weight: 600; }
  .container header {
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 0 0 15px 0;
    height: 15%; }
    .container header .toddle_form {
      height: 80%;
      float: left; }
    .container header .toddle_text {
      position: absolute;
      left: 0;
      right: 0;
      top: 25%;
      margin: auto;
      height: 50%; }
    .container header .blockRight {
      position: absolute;
      right: 5%;
      top: 40%;
      width: auto;
      font-size: 2.5vw;
      font-weight: normal;
      color: #F38F9A; }
      .container header .blockRight .name, .container header .blockRight .chrono {
        display: inline-block; }
      .container header .blockRight .chrono input {
        font-size: 2.5vw;
        color: #F38F9A;
        display: inline-block;
        width: 50px;
        text-align: center;
        border: none;
        background: none; }
      .container header .blockRight .defi {
        text-align: right; }
  .container footer {
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 1%;
    right: 1%; }
    .container footer img {
      width: 5%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1%; }
  .container .overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center; }
    .container .overlay .popup {
      background-color: #fff;
      border-radius: 15px;
      position: absolute;
      width: 50%;
      height: 50%;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      padding: 15px;
      color: #355E7E;
      font-size: 20px; }
      .container .overlay .popup .sous-titre {
        color: #F38F9A;
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 4%;
        display: block; }
      .container .overlay .popup .error {
        margin: 3% auto;
        color: red;
        font-size: 2vw; }
    .container .overlay .close {
      color: #aaa;
      position: absolute;
      right: 2%;
      top: 2%;
      font-size: 4vw; }
    .container .overlay.orientation {
      display: block;
      background-color: rgba(0, 0, 0, 0.8); }
      .container .overlay.orientation .content {
        position: absolute;
        top: 0;
        bottom: 0;
        display: inline-block;
        right: 0;
        left: 0;
        margin: auto;
        background: #fff;
        text-align: center;
        width: 80%;
        height: 45%;
        padding: 8%;
        border-radius: 5%; }
        .container .overlay.orientation .content img {
          width: 50%;
          display: inline-block;
          margin: auto;
          right: 0; }
        .container .overlay.orientation .content p {
          font-size: 7vw;
          color: #F38F9A;
          margin: 7% 0; }

.btn_toddle, .content button {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto; }

.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px; }

body {
  overflow: hidden; }

.content {
  text-align: center;
  font-size: 2.7rem;
  margin: 25% 0;
  color: #355E7E; }
  .content img {
    width: 20%;
    vertical-align: text-bottom; }
  .content hr {
    border: 2px solid #F38F9A;
    width: 50%;
    margin: 4% auto; }
  .content p {
    text-transform: uppercase; }
    .content p:first-child {
      font-weight: 600; }
    .content p.render {
      width: 75%;
      margin: 0 auto 3.5% auto; }
  .content button {
    background: #F38F9A;
    font-size: 2.5rem; }

/*# sourceMappingURL=end.css.map */
