@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf);
}
/* line 39, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* line 48, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* line 52, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 57, ../sass/general.scss */
.container * {
  outline: none;
  box-sizing: border-box;
}
/* line 61, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 64, ../sass/general.scss */
.container button {
  background: none;
  border: none;
}
/* line 68, ../sass/general.scss */
.container header {
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 74, ../sass/general.scss */
.container header img {
  margin: 15px 0 0 0;
}
/* line 77, ../sass/general.scss */
.container header .toddle_form {
  width: 10%;
  float: left;
}
/* line 81, ../sass/general.scss */
.container header .toddle_text {
  width: 20%;
  margin: 3% 0 0 0;
}
/* line 85, ../sass/general.scss */
.container header .blockRight {
  float: right;
  width: auto;
  margin: 5% 5% 0 0;
  font-size: 25px;
}
/* line 90, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  color: #F38F9A;
  display: inline-block;
}
/* line 94, ../sass/general.scss */
.container header .blockRight .chrono {
  display: inline-block;
}
/* line 96, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 25px;
  color: #F38F9A;
  display: inline-block;
  width: 50px;
  text-align: center;
  border: none;
  background: none;
}
/* line 108, ../sass/general.scss */
.container .overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 119, ../sass/general.scss */
.container .overlay .popup {
  background-color: #fefefe;
  border: 15px solid #F38F9A;
  border-radius: 15px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 15px;
}
/* line 133, ../sass/general.scss */
.container .overlay .close {
  color: #aaa;
  float: right;
  margin: 10px;
}

/* line 141, ../sass/general.scss */
.btn_toddle {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 151, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}
