@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf);
}
/* line 39, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* line 48, ../sass/general.scss */
* {
  box-sizing: border-box;
}

/* line 52, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* line 56, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 61, ../sass/general.scss */
.container header {
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
}
/* line 66, ../sass/general.scss */
.container header img, .container header .name {
  margin: 15px 0 0 0;
}
/* line 69, ../sass/general.scss */
.container header .toddle_form {
  width: 100px;
  float: left;
}
/* line 73, ../sass/general.scss */
.container header .toddle_text {
  width: 200px;
}
/* line 76, ../sass/general.scss */
.container header .name {
  color: #F38F9A;
  float: right;
  font-size: 30px;
  margin: 15px 25px 0 0;
}

/* line 85, ../sass/general.scss */
.btn_toddle, .container .group_btn .container_input label {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 95, ../sass/general.scss */
.btn_help, .container .group_btn .help_map {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 4, ../sass/map.scss */
.container .map {
  width: 100%;
  height: auto;
}
/* line 8, ../sass/map.scss */
.container .group_btn {
  text-align: center;
}
/* line 10, ../sass/map.scss */
.container .group_btn .container_input {
  display: inline-block;
  position: relative;
  width: 300px;
}
/* line 14, ../sass/map.scss */
.container .group_btn .container_input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 14px 0;
  opacity: 0;
}
/* line 23, ../sass/map.scss */
.container .group_btn .container_input label {
  margin-right: 50px;
}
/* line 33, ../sass/map.scss */
.container .overlay {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
  /* Modal Content/Box */
  /* The Close Button */
}
/* line 45, ../sass/map.scss */
.container .overlay .popup {
  background-color: #fefefe;
  border: 10px solid #F38F9A;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
/* line 58, ../sass/map.scss */
.container .overlay .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
