@charset "UTF-8";
@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}
/* line 45, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* ###### CRÉDITS ###### */
/* line 56, ../sass/general.scss */
.credits {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  z-index: 10000;
  background-color: white;
}
/* line 57, ../sass/general.scss */
.credits #croix {
  position: absolute;
  right: 10%;
  color: #aaa;
  margin-top: 50px;
}
/* line 70, ../sass/general.scss */
.credits .title {
  font-size: 72px;
  font-weight: 600;
  color: #F38F9A;
  width: 100%;
  text-align: center;
  padding: 50px 30px;
}
/* line 78, ../sass/general.scss */
.credits .justify {
  text-align: justify;
}
/* line 81, ../sass/general.scss */
.credits .content {
  padding-left: 30px;
  font-size: 20px;
  color: #355E7E;
  font-weight: 600;
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}
/* line 90, ../sass/general.scss */
.credits .logo {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

/* ###### HANDCLICK TUTO ###### */
/* line 99, ../sass/general.scss */
#handclick {
  position: absolute;
  width: 110px;
  height: 110px;
}

/* line 105, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* ###### Class for colors ###### */
/* line 110, ../sass/general.scss */
.rose {
  color: #F38F9A;
}

/* line 113, ../sass/general.scss */
.bleu {
  color: #355E7E;
}

/* line 116, ../sass/general.scss */
.beige {
  color: #F8B195;
}

/* line 119, ../sass/general.scss */
.noir {
  color: black;
}

/* line 122, ../sass/general.scss */
.six {
  font-weight: 600;
}

/* line 125, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 130, ../sass/general.scss */
.container * {
  outline: none;
  box-sizing: border-box;
}
/* line 135, ../sass/general.scss */
.container *:not(input) {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari*/
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}
/* line 143, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 146, ../sass/general.scss */
.container button {
  background: none;
  border: none;
  font-family: 'GothamRounded';
  text-transform: uppercase;
  font-weight: 600;
}
/* line 153, ../sass/general.scss */
.container header {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 160, ../sass/general.scss */
.container header .toddle_form {
  height: 80%;
  float: left;
}
/* line 164, ../sass/general.scss */
.container header .toddle_text {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  height: 50%;
}
/* line 172, ../sass/general.scss */
.container header .blockRight {
  position: absolute;
  right: 5%;
  top: 3vw;
  width: auto;
  font-size: 2.5vw;
  font-weight: normal;
  color: #F38F9A;
}
/* line 180, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  display: inline-block;
}
/* line 184, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 2.5vw;
  color: #F38F9A;
  display: inline-block;
  width: 6vw;
  text-align: center;
  border: none;
  background: none;
}
/* line 194, ../sass/general.scss */
.container header .blockRight .defi {
  text-align: right;
}
/* line 199, ../sass/general.scss */
.container footer {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
/* line 205, ../sass/general.scss */
.container footer img {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
}
/* line 212, ../sass/general.scss */
.container .overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 224, ../sass/general.scss */
.container .overlay .popup {
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 15px;
  color: #355E7E;
  font-size: 20px;
}
/* line 238, ../sass/general.scss */
.container .overlay .popup .sous-titre {
  color: #F38F9A;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 4%;
  display: block;
}
/* line 245, ../sass/general.scss */
.container .overlay .popup .error {
  margin: 3% auto;
  color: red;
  font-size: 2vw;
}
/* line 251, ../sass/general.scss */
.container .overlay .close {
  color: #aaa;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 4vw;
}
/* line 259, ../sass/general.scss */
.container .overlay.orientation {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 262, ../sass/general.scss */
.container .overlay.orientation .content-orientation {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  right: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  width: 80%;
  height: 45%;
  padding: 8%;
  border-radius: 5%;
}
/* line 276, ../sass/general.scss */
.container .overlay.orientation .content-orientation img {
  width: 50%;
  display: inline-block;
  margin: auto;
  right: 0;
}
/* line 282, ../sass/general.scss */
.container .overlay.orientation .content-orientation p {
  text-transform: uppercase;
  font-size: 5vw;
  color: #F38F9A;
  margin: 7% 0;
}

/* line 293, ../sass/general.scss */
.btn_toddle, .container .group_btn form .container_input label {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 303, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 3, ../sass/map.scss */
.container {
  position: relative;
}
/* line 5, ../sass/map.scss */
.container #overlayChargement {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 16, ../sass/map.scss */
.container .content {
  height: 83%;
}
/* line 19, ../sass/map.scss */
.container .map {
  width: 100%;
  height: auto;
}
/* line 23, ../sass/map.scss */
.container .group_btn {
  width: 100%;
  position: relative;
}
/* line 26, ../sass/map.scss */
.container .group_btn form {
  position: absolute;
  width: 30%;
  margin-left: 34%;
}
/* line 30, ../sass/map.scss */
.container .group_btn form .container_input {
  display: inline-block;
  position: relative;
}
/* line 33, ../sass/map.scss */
.container .group_btn form .container_input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 41, ../sass/map.scss */
.container .group_btn form .container_input label {
  font-size: 3vw;
  display: block;
}
/* line 48, ../sass/map.scss */
.container .group_btn .help_map {
  position: absolute;
  animation: tremblement 2s ease-in 1s infinite;
  top: -2px;
  margin-left: 55%;
  font-size: 2.7vw;
}
/* line 54, ../sass/map.scss */
.container .group_btn .help_map .fa-circle {
  color: #F38F9A;
}
/* line 57, ../sass/map.scss */
.container .group_btn .help_map .fa-question {
  color: #fff;
}
/* line 62, ../sass/map.scss */
.container .popup2 {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  width: 75%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 40px;
  color: #355E7E;
  font-size: 24px;
}
/* line 78, ../sass/map.scss */
.container .popup2 .sous-titre2 {
  color: #F38F9A;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 4%;
  display: block;
}
/* line 86, ../sass/map.scss */
.container .badPicture {
  position: absolute;
  top: -30%;
  text-align: center;
  left: 0;
  right: 0;
  background: #fff;
  width: 35%;
  margin: auto;
  /*border: 0px solid #000;*/
  padding: 3%;
  font-size: 1.5rem;
  border-radius: 10px;
}
/* line 99, ../sass/map.scss */
.container .badPicture .fa-stack {
  margin-bottom: 2%;
  font-size: 2rem;
}
/* line 102, ../sass/map.scss */
.container .badPicture .fa-stack .fa-times {
  color: #fff;
}

@keyframes tremblement {
  0% {
    margin-left: 55%;
  }
  4% {
    margin-left: 56%;
  }
  8% {
    margin-left: 54%;
  }
  12% {
    margin-left: 56%;
  }
  16% {
    margin-left: 54%;
  }
  20% {
    margin-left: 56%;
  }
  24% {
    margin-left: 54%;
  }
  28% {
    margin-left: 55%;
  }
  100% {
    margin-left: 55%;
  }
}
/* line 121, ../sass/map.scss */
.cs-loader-inner {
  position: absolute;
  top: 44%;
  width: 100%;
  color: #000;
  padding: 0;
  text-align: center;
}

/* line 130, ../sass/map.scss */
.cs-loader-inner label:first-child {
  color: #F07381;
}

/* line 134, ../sass/map.scss */
.cs-loader-inner label:nth-child(2) {
  color: #355E7E;
}

/* line 138, ../sass/map.scss */
.cs-loader-inner label:nth-child(3) {
  color: #F8B195;
}

/* line 142, ../sass/map.scss */
.cs-loader-inner label:nth-child(4) {
  color: #F07381;
}

/* line 146, ../sass/map.scss */
.cs-loader-inner label:nth-child(5) {
  color: #355E7E;
}

/* line 150, ../sass/map.scss */
.cs-loader-inner label:nth-child(6) {
  color: #F8B195;
}

/* line 154, ../sass/map.scss */
.cs-loader-inner label {
  font-size: 4rem;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
/* line 190, ../sass/map.scss */
.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 2s infinite ease-in-out;
  animation: lol 2s infinite ease-in-out;
}

/* line 195, ../sass/map.scss */
.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 2s 100ms infinite ease-in-out;
  animation: lol 2s 100ms infinite ease-in-out;
}

/* line 200, ../sass/map.scss */
.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 2s 200ms infinite ease-in-out;
  animation: lol 2s 200ms infinite ease-in-out;
}

/* line 205, ../sass/map.scss */
.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 2s 300ms infinite ease-in-out;
  animation: lol 2s 300ms infinite ease-in-out;
}

/* line 210, ../sass/map.scss */
.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 2s 400ms infinite ease-in-out;
  animation: lol 2s 400ms infinite ease-in-out;
}

/* line 215, ../sass/map.scss */
.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 2s 500ms infinite ease-in-out;
  animation: lol 2s 500ms infinite ease-in-out;
}
