@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf);
}
/* line 39, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* line 48, ../sass/general.scss */
* {
  box-sizing: border-box;
}

/* line 52, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* line 56, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 61, ../sass/general.scss */
.container header {
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 67, ../sass/general.scss */
.container header img, .container header .name {
  margin: 15px 0 0 0;
}
/* line 70, ../sass/general.scss */
.container header .toddle_form {
  width: 100px;
  float: left;
}
/* line 74, ../sass/general.scss */
.container header .toddle_text {
  width: 200px;
}
/* line 77, ../sass/general.scss */
.container header .name {
  color: #F38F9A;
  float: right;
  font-size: 30px;
  margin: 15px 25px 0 0;
}

/* line 86, ../sass/general.scss */
.btn_toddle, .container .container_form button {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 96, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 6, ../sass/name.scss */
.container .container_form {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 10, ../sass/name.scss */
.container .container_form form {
  font-size: 50px;
  height: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
}
/* line 21, ../sass/name.scss */
.container .container_form label {
  display: block;
  color: #F38F9A;
}
/* line 25, ../sass/name.scss */
.container .container_form input {
  border-radius: 50px;
  color: #355E7E;
  border: 2px solid #355E7E;
  text-align: center;
  padding: 12px 30px;
  display: inline-block;
  margin: 30px 0;
  font-size: 30px;
}
/* line 35, ../sass/name.scss */
.container .container_form button {
  border-radius: 100px;
  display: block;
  padding: 20px 22px;
  font-weight: bold;
  margin: 10px auto 0 auto;
}
