@charset "UTF-8";
@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf);
}
/* line 39, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* line 48, ../sass/general.scss */
* {
  box-sizing: border-box;
}

/* line 52, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* line 56, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 61, ../sass/general.scss */
.container * {
  outline: none;
}
/* line 64, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 67, ../sass/general.scss */
.container header {
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 73, ../sass/general.scss */
.container header img {
  margin: 15px 0 0 0;
}
/* line 76, ../sass/general.scss */
.container header .toddle_form {
  width: 100px;
  float: left;
}
/* line 80, ../sass/general.scss */
.container header .toddle_text {
  width: 200px;
  margin: 3% 0 0 0;
}
/* line 84, ../sass/general.scss */
.container header .blockRight {
  float: right;
  width: auto;
  margin: 5% 5% 0 0;
  font-size: 25px;
}
/* line 89, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  color: #F38F9A;
  display: inline-block;
}
/* line 93, ../sass/general.scss */
.container header .blockRight .chrono {
  display: inline-block;
}
/* line 95, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 25px;
  color: #F38F9A;
  display: inline-block;
  width: 50px;
  text-align: center;
  border: none;
  background: none;
}

/* line 109, ../sass/general.scss */
.btn_toddle {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 119, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 4, ../sass/oeuvre.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/oeuvre.scss */
.container #jeu {
  width: 100%;
  height: 83%;
}
/* line 15, ../sass/oeuvre.scss */
.container #jeu .leftBloc {
  float: left;
  width: 50%;
  height: 100%;
  /*Enlever overflow si possible*/
  overflow: hidden;
}
/* line 22, ../sass/oeuvre.scss */
.container #jeu .rightBloc {
  border-left: 2px solid #000;
  float: right;
  background: #FEFBFB;
  width: 50%;
  height: 100%;
}
/* line 29, ../sass/oeuvre.scss */
.container #jeu .rightBloc h2 {
  text-align: center;
  padding: 5px;
  margin: 0;
}
/* line 34, ../sass/oeuvre.scss */
.container #jeu .rightBloc > div {
  padding: 10px;
  width: 100%;
}
/* line 38, ../sass/oeuvre.scss */
.container #jeu .rightBloc .codeBloc {
  color: #FFF;
  font-family: "Inconsolata";
  background: #000;
  bottom: 0;
  height: 45%;
}
/* line 44, ../sass/oeuvre.scss */
.container #jeu .rightBloc .codeBloc button {
  background: none;
  color: #fff;
  border: none;
}
/* line 50, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc {
  height: 55%;
  /*Les pourcentages de positionnement sont en relation avec le div avec l'id: jeu et non relatif à la div de classe:rightBloc*/
}
/* line 52, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc .etiq {
  cursor: move;
  border-radius: 25px;
  width: 20%;
  padding: 15px;
  margin: 10px auto;
  background: #365F7F;
  color: #fff;
  text-align: center;
  /*Pas de position: relative car jai besoin pour le drag&drop, 
  que la position absolute des etiquettes prennent en compte 
  le parent de la div de droite, c-à-d la div jeu pour avoir de bonnes coordonées pour le drop*/
}
/* line 66, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #vert {
  position: absolute;
  margin-top: 2.5%;
  margin-left: 1.5%;
}
/* line 71, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #rouge {
  position: absolute;
  margin-top: 2.5%;
  margin-left: 25.5%;
}
/* line 76, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #jaune {
  position: absolute;
  margin-top: 10%;
  margin-left: 1.5%;
}
/* line 81, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #carre {
  position: absolute;
  margin-top: 10%;
  margin-left: 25.5%;
}
/* line 86, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #rond {
  position: absolute;
  margin-top: 17.5%;
  margin-left: 1.5%;
}
/* line 91, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #violet {
  position: absolute;
  margin-top: 17.5%;
  margin-left: 25.5%;
}
