@charset "UTF-8";
@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedItalic.otf);
  font-style: italic;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}
/* line 51, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* ###### CRÉDITS ###### */
/* line 62, ../sass/general.scss */
.credits {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  z-index: 10000;
  background-color: white;
}
/* line 63, ../sass/general.scss */
.credits #croix {
  position: absolute;
  right: 10%;
  color: #aaa;
  margin-top: 50px;
}
/* line 76, ../sass/general.scss */
.credits .title {
  font-size: 72px;
  color: #F38F9A;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
/* line 85, ../sass/general.scss */
.credits .content {
  font-size: 20px;
  color: #355E7E;
  font-weight: 600;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
/* line 92, ../sass/general.scss */
.credits .content .chevron {
  width: 40px;
  margin-top: 22%;
  position: absolute;
}
/* line 97, ../sass/general.scss */
.credits .content #chevronDroite {
  right: 3%;
}
/* line 100, ../sass/general.scss */
.credits .content #chevronGauche {
  transform: rotate(180deg);
  left: 3%;
  display: none;
}
/* line 105, ../sass/general.scss */
.credits .content .ariane {
  text-align: center;
}
/* line 107, ../sass/general.scss */
.credits .content .ariane .apoint {
  width: 20px;
  margin: 0 10px;
}
/* line 112, ../sass/general.scss */
.credits .content .texte {
  width: 100%;
  margin-top: 20px;
  height: 400px;
  overflow: hidden;
}
/* line 117, ../sass/general.scss */
.credits .content .texte #sous-texte {
  display: flex;
  height: 380px;
  width: 300%;
}
/* line 121, ../sass/general.scss */
.credits .content .texte #sous-texte > * {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 127, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright {
  padding-right: 15px;
  overflow-y: scroll;
}
/* line 130, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F38F9A;
}
/* line 137, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar {
  width: 7px;
  margin-left: 5px;
}
/* line 143, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #355E7E;
}
/* line 152, ../sass/general.scss */
.credits .content .justify {
  text-align: justify;
}
/* line 155, ../sass/general.scss */
.credits .content .bottom {
  width: 120%;
  margin-left: -10%;
}
/* line 158, ../sass/general.scss */
.credits .content .bottom .flexbottom {
  display: flex;
  align-items: stretch;
}
/* line 161, ../sass/general.scss */
.credits .content .bottom .flexbottom > * {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-direction: column;
}
/* line 168, ../sass/general.scss */
.credits .content .bottom .flexbottom > * .antoine {
  margin-top: 17px;
}
/* line 171, ../sass/general.scss */
.credits .content .bottom .flexbottom > * .fct {
  margin-top: 7px;
}
/* line 175, ../sass/general.scss */
.credits .content .bottom .flexbottom .logo {
  align-self: flex-start;
  width: 100px;
}

/* ###### HANDCLICK TUTO ###### */
/* line 187, ../sass/general.scss */
#handclick {
  position: absolute;
  width: 110px;
  height: 110px;
}

/* line 193, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* ###### Class for colors ###### */
/* line 198, ../sass/general.scss */
.rose {
  color: #F38F9A;
}

/* line 201, ../sass/general.scss */
.bleu {
  color: #355E7E;
}

/* line 204, ../sass/general.scss */
.beige {
  color: #F8B195;
}

/* line 207, ../sass/general.scss */
.noir {
  color: black;
}

/* line 210, ../sass/general.scss */
.six {
  font-weight: 600;
}

/* line 213, ../sass/general.scss */
.bold {
  font-weight: bold;
}

/* line 216, ../sass/general.scss */
.center {
  text-align: center;
}

/* line 219, ../sass/general.scss */
i {
  font-style: italic;
}

/* line 222, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 227, ../sass/general.scss */
.container * {
  outline: none;
  box-sizing: border-box;
}
/* line 231, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 234, ../sass/general.scss */
.container button {
  background: none;
  border: none;
  font-family: 'GothamRounded';
  text-transform: uppercase;
  font-weight: 600;
}
/* line 241, ../sass/general.scss */
.container header {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 248, ../sass/general.scss */
.container header .toddle_form {
  height: 80%;
  float: left;
}
/* line 252, ../sass/general.scss */
.container header .toddle_text {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  height: 50%;
}
/* line 260, ../sass/general.scss */
.container header .blockRight {
  position: absolute;
  right: 5%;
  top: 3vw;
  width: auto;
  font-size: 2.5vw;
  font-weight: normal;
  color: #F38F9A;
}
/* line 268, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  display: inline-block;
}
/* line 272, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 2.5vw;
  color: #F38F9A;
  display: inline-block;
  width: 6vw;
  text-align: center;
  border: none;
  background: none;
}
/* line 282, ../sass/general.scss */
.container header .blockRight .defi {
  text-align: right;
}
/* line 287, ../sass/general.scss */
.container footer {
  width: 100%;
  text-align: right;
  position: absolute;
  z-index: 0;
  bottom: 1%;
  right: 1%;
}
/* line 294, ../sass/general.scss */
.container footer img {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
}
/* line 301, ../sass/general.scss */
.container .overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 313, ../sass/general.scss */
.container .overlay .popup {
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 15px;
  color: #355E7E;
  font-size: 20px;
}
/* line 327, ../sass/general.scss */
.container .overlay .popup .sous-titre {
  color: #F38F9A;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 4%;
  display: block;
}
/* line 334, ../sass/general.scss */
.container .overlay .popup .error {
  margin: 3% auto;
  color: red;
  font-size: 2vw;
}
/* line 340, ../sass/general.scss */
.container .overlay .close {
  color: #aaa;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 4vw;
}
/* line 348, ../sass/general.scss */
.container .overlay.orientation {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 351, ../sass/general.scss */
.container .overlay.orientation .content-orientation {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  right: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  width: 80%;
  height: 45%;
  padding: 8%;
  border-radius: 5%;
}
/* line 365, ../sass/general.scss */
.container .overlay.orientation .content-orientation img {
  width: 50%;
  display: inline-block;
  margin: auto;
  right: 0;
}
/* line 371, ../sass/general.scss */
.container .overlay.orientation .content-orientation p {
  text-transform: uppercase;
  font-size: 5vw;
  color: #F38F9A;
  margin: 7% 0;
}

/* line 382, ../sass/general.scss */
.btn_toddle {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 392, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 3, ../sass/oeuvre.scss */
.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 12, ../sass/oeuvre.scss */
.container #win {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  display: none;
}
/* line 19, ../sass/oeuvre.scss */
.container #win .title {
  font-weight: 600;
  color: #F38F9A;
  font-size: 54px;
}
/* line 24, ../sass/oeuvre.scss */
.container #win .titlesuite {
  color: #F38F9A;
  font-size: 42px;
}
/* line 28, ../sass/oeuvre.scss */
.container #win .content-win {
  width: 70%;
  height: 65%;
  margin-left: 15%;
  margin-top: 13%;
  padding-top: 2%;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  color: #355E7E;
  font-size: 26px;
}
/* line 39, ../sass/oeuvre.scss */
.container #win .content-win p {
  width: 75%;
  margin-left: 15%;
}
/* line 43, ../sass/oeuvre.scss */
.container #win .content-win hr {
  border: 3px solid #F38F9A;
  border-radius: 25px;
  width: 70%;
  margin: 3% auto;
}
/* line 49, ../sass/oeuvre.scss */
.container #win .content-win .continuer {
  color: #fff;
  background-color: #355E7E;
  width: 35%;
  height: 75px;
  border-radius: 50px;
  font-size: 30px;
  margin: 4% 0;
}
/* line 58, ../sass/oeuvre.scss */
.container #win .content-win .name {
  color: #F38F9A;
}
/* line 61, ../sass/oeuvre.scss */
.container #win .content-win .parentheses {
  color: #355E7E;
  font-weight: bold;
}
/* line 67, ../sass/oeuvre.scss */
.container #loose {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  display: none;
}
/* line 74, ../sass/oeuvre.scss */
.container #loose .title {
  font-weight: 600;
  color: #F38F9A;
  font-size: 54px;
}
/* line 79, ../sass/oeuvre.scss */
.container #loose .content-loose {
  width: 70%;
  height: 45%;
  margin-top: 20%;
  margin-left: 15%;
  padding-top: 2%;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  color: #355E7E;
  font-size: 26px;
}
/* line 90, ../sass/oeuvre.scss */
.container #loose .content-loose p {
  width: 75%;
  margin-left: 12.5%;
}
/* line 94, ../sass/oeuvre.scss */
.container #loose .content-loose hr {
  border: 3px solid #F38F9A;
  border-radius: 25px;
  width: 70%;
  margin: 3% auto;
}
/* line 100, ../sass/oeuvre.scss */
.container #loose .content-loose .rechercher {
  color: #fff;
  background-color: #355E7E;
  width: 35%;
  height: 75px;
  border-radius: 50px;
  font-size: 35px;
  margin-top: 0.5%;
}
/* line 109, ../sass/oeuvre.scss */
.container #loose .content-loose .name {
  color: #F38F9A;
}
/* line 114, ../sass/oeuvre.scss */
.container #jeu {
  width: 100%;
  height: 83%;
  /*Décalage compensé dans .rightBloc pour pas de bug dans les coordonnées pour le drop des étiquettes*/
  padding-left: 2%;
  padding-right: 2%;
}
/* line 120, ../sass/oeuvre.scss */
.container #jeu #handclick {
  top: 57%;
  left: 57%;
  z-index: 10000;
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
}
/* line 128, ../sass/oeuvre.scss */
.container #jeu .leftBloc {
  float: left;
  width: 48%;
  height: 92%;
  position: relative;
  z-index: 10;
}
/* line 134, ../sass/oeuvre.scss */
.container #jeu .leftBloc .bouton2 {
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F38F9A;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  bottom: 10%;
}
/* line 144, ../sass/oeuvre.scss */
.container #jeu .leftBloc .bouton2 > img {
  width: 50%;
}
/* line 148, ../sass/oeuvre.scss */
.container #jeu .leftBloc .bluebouton {
  background-color: #355E7E;
}
/* line 152, ../sass/oeuvre.scss */
.container #jeu .rightBloc {
  float: right;
  width: 50%;
  height: 92%;
  overflow: hidden;
}
/* line 157, ../sass/oeuvre.scss */
.container #jeu .rightBloc h2 {
  text-align: center;
  padding: 5px;
  margin: 0;
}
/* line 162, ../sass/oeuvre.scss */
.container #jeu .rightBloc > div {
  padding: 10px;
  width: 100%;
}
/* line 166, ../sass/oeuvre.scss */
.container #jeu .rightBloc .codeBloc {
  /*text-align: justify;*/
  font-size: 19px;
  padding: 15px;
  bottom: 0;
  height: 45%;
}
/* line 173, ../sass/oeuvre.scss */
.container #jeu .rightBloc .codeBloc h2 {
  color: #F38F9A;
  font-weight: bold;
  font-size: 32px;
}
/* line 178, ../sass/oeuvre.scss */
.container #jeu .rightBloc .codeBloc .consignes {
  padding-top: 4%;
  font-weight: 600;
  color: #355E7E;
  text-align: justify;
}
/* line 185, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc {
  height: 55%;
  /*Les pourcentages de positionnement sont en relation avec le div avec l'id: jeu et non relatif à la div de classe:rightBloc*/
}
/* line 187, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc .bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F38F9A;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: white;
}
/* line 197, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc .bluebouton {
  background-color: #355E7E;
}
/* line 204, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc .etiq {
  z-index: 15;
  border-radius: 25px;
  width: 43%;
  padding: 15px;
  margin: 10px auto;
  background: #355E7E;
  color: #fff;
  text-align: center;
}
/* line 215, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #rectangle {
  position: absolute;
  margin-top: 17.5%;
  margin-left: 1.5%;
}
/* line 220, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #rouge {
  position: absolute;
  margin-top: 2.5%;
  margin-left: 50%;
  display: none;
}
/* line 226, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #jaune {
  position: absolute;
  margin-top: 10%;
  margin-left: 50%;
  display: none;
}
/* line 232, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #carre {
  position: absolute;
  margin-top: 10%;
  margin-left: 1.5%;
}
/* line 237, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #rond {
  position: absolute;
  margin-top: 2.5%;
  margin-left: 1.5%;
}
/* line 242, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #violet {
  position: absolute;
  margin-top: 17.5%;
  margin-left: 50%;
  display: none;
}
/* line 248, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #undo {
  position: absolute;
  margin-top: 25%;
  margin-left: 9%;
}
/* line 253, ../sass/oeuvre.scss */
.container #jeu .rightBloc .etiqBloc #valider {
  position: absolute;
  margin-top: 25%;
  margin-left: 33.5%;
}

@keyframes slide {
  from {
    top: 57%;
    left: 57%;
  }
  to {
    top: 48%;
    left: 18%;
  }
}
