@charset "UTF-8";
@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}
/* line 45, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* ###### CRÉDITS ###### */
/* line 56, ../sass/general.scss */
.credits {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  z-index: 10000;
  background-color: white;
}
/* line 57, ../sass/general.scss */
.credits #croix {
  position: absolute;
  right: 10%;
  color: #aaa;
  margin-top: 50px;
}
/* line 70, ../sass/general.scss */
.credits .title {
  font-size: 72px;
  font-weight: 600;
  color: #F38F9A;
  width: 100%;
  text-align: center;
  padding: 50px 30px;
}
/* line 78, ../sass/general.scss */
.credits .justify {
  text-align: justify;
}
/* line 81, ../sass/general.scss */
.credits .content {
  padding-left: 30px;
  font-size: 20px;
  color: #355E7E;
  font-weight: 600;
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}
/* line 90, ../sass/general.scss */
.credits .logo {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

/* ###### HANDCLICK TUTO ###### */
/* line 99, ../sass/general.scss */
#handclick {
  position: absolute;
  width: 110px;
  height: 110px;
}

/* line 105, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* ###### Class for colors ###### */
/* line 110, ../sass/general.scss */
.rose {
  color: #F38F9A;
}

/* line 113, ../sass/general.scss */
.bleu {
  color: #355E7E;
}

/* line 116, ../sass/general.scss */
.beige {
  color: #F8B195;
}

/* line 119, ../sass/general.scss */
.noir {
  color: black;
}

/* line 122, ../sass/general.scss */
.six {
  font-weight: 600;
}

/* line 125, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 130, ../sass/general.scss */
.container * {
  outline: none;
  box-sizing: border-box;
}
/* line 135, ../sass/general.scss */
.container *:not(input) {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari*/
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}
/* line 143, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 146, ../sass/general.scss */
.container button {
  background: none;
  border: none;
  font-family: 'GothamRounded';
  text-transform: uppercase;
  font-weight: 600;
}
/* line 153, ../sass/general.scss */
.container header {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 160, ../sass/general.scss */
.container header .toddle_form {
  height: 80%;
  float: left;
}
/* line 164, ../sass/general.scss */
.container header .toddle_text {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  height: 50%;
}
/* line 172, ../sass/general.scss */
.container header .blockRight {
  position: absolute;
  right: 5%;
  top: 3vw;
  width: auto;
  font-size: 2.5vw;
  font-weight: normal;
  color: #F38F9A;
}
/* line 180, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  display: inline-block;
}
/* line 184, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 2.5vw;
  color: #F38F9A;
  display: inline-block;
  width: 6vw;
  text-align: center;
  border: none;
  background: none;
}
/* line 194, ../sass/general.scss */
.container header .blockRight .defi {
  text-align: right;
}
/* line 199, ../sass/general.scss */
.container footer {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
/* line 205, ../sass/general.scss */
.container footer img {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
}
/* line 212, ../sass/general.scss */
.container .overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 224, ../sass/general.scss */
.container .overlay .popup {
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 15px;
  color: #355E7E;
  font-size: 20px;
}
/* line 238, ../sass/general.scss */
.container .overlay .popup .sous-titre {
  color: #F38F9A;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 4%;
  display: block;
}
/* line 245, ../sass/general.scss */
.container .overlay .popup .error {
  margin: 3% auto;
  color: red;
  font-size: 2vw;
}
/* line 251, ../sass/general.scss */
.container .overlay .close {
  color: #aaa;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 4vw;
}
/* line 259, ../sass/general.scss */
.container .overlay.orientation {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 262, ../sass/general.scss */
.container .overlay.orientation .content-orientation {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  right: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  width: 80%;
  height: 45%;
  padding: 8%;
  border-radius: 5%;
}
/* line 276, ../sass/general.scss */
.container .overlay.orientation .content-orientation img {
  width: 50%;
  display: inline-block;
  margin: auto;
  right: 0;
}
/* line 282, ../sass/general.scss */
.container .overlay.orientation .content-orientation p {
  text-transform: uppercase;
  font-size: 5vw;
  color: #F38F9A;
  margin: 7% 0;
}

/* line 293, ../sass/general.scss */
.btn_toddle {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 303, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 2, ../sass/oeuvre3.scss */
.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 10, ../sass/oeuvre3.scss */
.container {
  font-weight: 600;
}
/* line 12, ../sass/oeuvre3.scss */
.container #handclick {
  top: 67%;
  left: 47%;
  z-index: 10000;
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
}
/* line 20, ../sass/oeuvre3.scss */
.container #win {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  display: none;
}
/* line 27, ../sass/oeuvre3.scss */
.container #win .title {
  font-weight: 600;
  color: #F38F9A;
  font-size: 54px;
}
/* line 32, ../sass/oeuvre3.scss */
.container #win .titlesuite {
  color: #F38F9A;
  font-size: 42px;
}
/* line 36, ../sass/oeuvre3.scss */
.container #win .content-win {
  width: 70%;
  height: 70%;
  margin-left: 15%;
  margin-top: 11.5%;
  padding-top: 3.5%;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  color: #355E7E;
  font-size: 26px;
}
/* line 47, ../sass/oeuvre3.scss */
.container #win .content-win p {
  width: 70%;
  margin-left: 15%;
}
/* line 51, ../sass/oeuvre3.scss */
.container #win .content-win hr {
  border: 3px solid #F38F9A;
  border-radius: 25px;
  width: 70%;
  margin: 3% auto;
}
/* line 57, ../sass/oeuvre3.scss */
.container #win .content-win .continuer {
  color: #fff;
  background-color: #355E7E;
  width: 35%;
  height: 75px;
  border-radius: 50px;
  font-size: 30px;
  margin: 4% 0;
}
/* line 66, ../sass/oeuvre3.scss */
.container #win .content-win .name {
  color: #F38F9A;
}
/* line 69, ../sass/oeuvre3.scss */
.container #win .content-win .parentheses {
  color: #355E7E;
  font-weight: bold;
}
/* line 75, ../sass/oeuvre3.scss */
.container #loose {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  display: none;
}
/* line 82, ../sass/oeuvre3.scss */
.container #loose .title {
  font-weight: 600;
  color: #F38F9A;
  font-size: 54px;
}
/* line 87, ../sass/oeuvre3.scss */
.container #loose .content-loose {
  width: 70%;
  height: 45%;
  margin-top: 20%;
  margin-left: 15%;
  padding-top: 2%;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  color: #355E7E;
  font-size: 26px;
}
/* line 98, ../sass/oeuvre3.scss */
.container #loose .content-loose p {
  width: 75%;
  margin-left: 12.5%;
}
/* line 102, ../sass/oeuvre3.scss */
.container #loose .content-loose hr {
  border: 3px solid #F38F9A;
  border-radius: 25px;
  width: 70%;
  margin: 3% auto;
}
/* line 108, ../sass/oeuvre3.scss */
.container #loose .content-loose .rechercher {
  color: #fff;
  background-color: #355E7E;
  width: 35%;
  height: 75px;
  border-radius: 50px;
  font-size: 35px;
  margin-top: 0.5%;
}
/* line 117, ../sass/oeuvre3.scss */
.container #loose .content-loose .name {
  color: #F38F9A;
}
/* line 122, ../sass/oeuvre3.scss */
.container h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 10px;
}
/* line 127, ../sass/oeuvre3.scss */
.container .consignes {
  text-align: center;
  font-size: 18px;
  color: #355E7E;
  width: 80%;
  margin-left: 10%;
}
/* line 134, ../sass/oeuvre3.scss */
.container .leftBloc {
  width: 50%;
  float: left;
  padding-left: 1%;
  position: relative;
}
/* line 139, ../sass/oeuvre3.scss */
.container .leftBloc .bouton2 {
  position: absolute;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F38F9A;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  bottom: 1%;
}
/* line 150, ../sass/oeuvre3.scss */
.container .leftBloc .bouton2 > img {
  width: 50%;
}
/* line 153, ../sass/oeuvre3.scss */
.container .leftBloc .bouton2:active {
  background-color: #355E7E;
}
/* line 157, ../sass/oeuvre3.scss */
.container .leftBloc #indice {
  left: 3%;
}
/* line 160, ../sass/oeuvre3.scss */
.container .leftBloc #but {
  right: 7.5%;
}
/* line 163, ../sass/oeuvre3.scss */
.container .leftBloc .souscontainer {
  width: 470px;
  height: 470px;
  overflow: hidden;
  position: relative;
}
/* line 169, ../sass/oeuvre3.scss */
.container .leftBloc .souscontainer .content {
  margin-top: -107px;
  margin-left: -107px;
}
/* line 172, ../sass/oeuvre3.scss */
.container .leftBloc .souscontainer .content canvas {
  position: absolute;
}
/* line 178, ../sass/oeuvre3.scss */
.container .rightBloc {
  width: 50%;
  float: right;
}
/* line 179, ../sass/oeuvre3.scss */
.container .rightBloc .code {
  padding: 10px;
  background-color: rgba(188, 188, 188, 0.2);
  width: 90%;
}
/* line 183, ../sass/oeuvre3.scss */
.container .rightBloc .code .alinea1 {
  margin-left: 7px;
}
/* line 186, ../sass/oeuvre3.scss */
.container .rightBloc .code .alinea2 {
  margin-left: 14px;
}
/* line 189, ../sass/oeuvre3.scss */
.container .rightBloc .code .alinea3 {
  margin-left: 21px;
}
/* line 193, ../sass/oeuvre3.scss */
.container .rightBloc .columns {
  display: flex;
  margin-top: 25px;
  color: #F38F9A;
  font-size: 20px;
}
/* line 198, ../sass/oeuvre3.scss */
.container .rightBloc .columns .gauche {
  width: 50%;
}
/* line 201, ../sass/oeuvre3.scss */
.container .rightBloc .columns .droite {
  width: 50%;
}
/* line 204, ../sass/oeuvre3.scss */
.container .rightBloc .columns span {
  margin-left: 70%;
}
/* line 207, ../sass/oeuvre3.scss */
.container .rightBloc .columns .buttonV {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F38F9A;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  margin-left: 60%;
}
/* line 218, ../sass/oeuvre3.scss */
.container .rightBloc .columns .buttonV:active {
  background-color: #355E7E;
}
/* line 225, ../sass/oeuvre3.scss */
.container .rightBloc input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 80%;
}
/* line 230, ../sass/oeuvre3.scss */
.container .rightBloc input[type=range]:focus {
  outline: none;
}
/* line 233, ../sass/oeuvre3.scss */
.container .rightBloc input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 17px;
  background: #355E7E;
  border-radius: 7.5px;
}
/* line 239, ../sass/oeuvre3.scss */
.container .rightBloc input[type=range]::-webkit-slider-thumb {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #F38F9A;
  -webkit-appearance: none;
  margin-top: -10px;
}
/* line 247, ../sass/oeuvre3.scss */
.container .rightBloc input[type=range]::-moz-range-track {
  width: 100%;
  height: 17px;
  background: #355E7E;
  border-radius: 7.5px;
}
/* line 253, ../sass/oeuvre3.scss */
.container .rightBloc input[type=range]::-moz-range-thumb {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #F38F9A;
  -webkit-appearance: none;
  margin-top: -10px;
}

@keyframes slide {
  from {
    top: 67%;
    left: 47%;
  }
  to {
    top: 67%;
    left: 65%;
  }
}
