@charset "UTF-8";
@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedItalic.otf);
  font-style: italic;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}
/* line 51, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* ###### CRÉDITS ###### */
/* line 62, ../sass/general.scss */
.credits {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  z-index: 10000;
  background-color: white;
}
/* line 63, ../sass/general.scss */
.credits #croix {
  position: absolute;
  right: 10%;
  color: #aaa;
  margin-top: 50px;
}
/* line 76, ../sass/general.scss */
.credits .title {
  font-size: 72px;
  color: #F38F9A;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
/* line 85, ../sass/general.scss */
.credits .content {
  font-size: 20px;
  color: #355E7E;
  font-weight: 600;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
/* line 92, ../sass/general.scss */
.credits .content .chevron {
  width: 40px;
  margin-top: 22%;
  position: absolute;
}
/* line 97, ../sass/general.scss */
.credits .content #chevronDroite {
  right: 3%;
}
/* line 100, ../sass/general.scss */
.credits .content #chevronGauche {
  transform: rotate(180deg);
  left: 3%;
  display: none;
}
/* line 105, ../sass/general.scss */
.credits .content .ariane {
  text-align: center;
}
/* line 107, ../sass/general.scss */
.credits .content .ariane .apoint {
  width: 20px;
  margin: 0 10px;
}
/* line 112, ../sass/general.scss */
.credits .content .texte {
  width: 100%;
  margin-top: 20px;
  height: 400px;
  overflow: hidden;
}
/* line 117, ../sass/general.scss */
.credits .content .texte #sous-texte {
  display: flex;
  height: 380px;
  width: 300%;
}
/* line 121, ../sass/general.scss */
.credits .content .texte #sous-texte > * {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 127, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright {
  padding-right: 15px;
  overflow-y: scroll;
}
/* line 130, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F38F9A;
}
/* line 137, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar {
  width: 7px;
  margin-left: 5px;
}
/* line 143, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #355E7E;
}
/* line 152, ../sass/general.scss */
.credits .content .justify {
  text-align: justify;
}
/* line 155, ../sass/general.scss */
.credits .content .bottom {
  width: 120%;
  margin-left: -10%;
}
/* line 158, ../sass/general.scss */
.credits .content .bottom .flexbottom {
  display: flex;
  align-items: stretch;
}
/* line 161, ../sass/general.scss */
.credits .content .bottom .flexbottom > * {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-direction: column;
}
/* line 168, ../sass/general.scss */
.credits .content .bottom .flexbottom > * .antoine {
  margin-top: 17px;
}
/* line 171, ../sass/general.scss */
.credits .content .bottom .flexbottom > * .fct {
  margin-top: 7px;
}
/* line 175, ../sass/general.scss */
.credits .content .bottom .flexbottom .logo {
  align-self: flex-start;
  width: 100px;
}

/* ###### HANDCLICK TUTO ###### */
/* line 187, ../sass/general.scss */
#handclick {
  position: absolute;
  width: 110px;
  height: 110px;
}

/* line 193, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* ###### Class for colors ###### */
/* line 198, ../sass/general.scss */
.rose {
  color: #F38F9A;
}

/* line 201, ../sass/general.scss */
.bleu {
  color: #355E7E;
}

/* line 204, ../sass/general.scss */
.beige {
  color: #F8B195;
}

/* line 207, ../sass/general.scss */
.noir {
  color: black;
}

/* line 210, ../sass/general.scss */
.six {
  font-weight: 600;
}

/* line 213, ../sass/general.scss */
.bold {
  font-weight: bold;
}

/* line 216, ../sass/general.scss */
.center {
  text-align: center;
}

/* line 219, ../sass/general.scss */
i {
  font-style: italic;
}

/* line 222, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 227, ../sass/general.scss */
.container * {
  outline: none;
  box-sizing: border-box;
}
/* line 231, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 234, ../sass/general.scss */
.container button {
  background: none;
  border: none;
  font-family: 'GothamRounded';
  text-transform: uppercase;
  font-weight: 600;
}
/* line 241, ../sass/general.scss */
.container header {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 248, ../sass/general.scss */
.container header .toddle_form {
  height: 80%;
  float: left;
}
/* line 252, ../sass/general.scss */
.container header .toddle_text {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  height: 50%;
}
/* line 260, ../sass/general.scss */
.container header .blockRight {
  position: absolute;
  right: 5%;
  top: 3vw;
  width: auto;
  font-size: 2.5vw;
  font-weight: normal;
  color: #F38F9A;
}
/* line 268, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  display: inline-block;
}
/* line 272, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 2.5vw;
  color: #F38F9A;
  display: inline-block;
  width: 6vw;
  text-align: center;
  border: none;
  background: none;
}
/* line 282, ../sass/general.scss */
.container header .blockRight .defi {
  text-align: right;
}
/* line 287, ../sass/general.scss */
.container footer {
  width: 100%;
  text-align: right;
  position: absolute;
  z-index: 0;
  bottom: 1%;
  right: 1%;
}
/* line 294, ../sass/general.scss */
.container footer img {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
}
/* line 301, ../sass/general.scss */
.container .overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 313, ../sass/general.scss */
.container .overlay .popup {
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 15px;
  color: #355E7E;
  font-size: 20px;
}
/* line 327, ../sass/general.scss */
.container .overlay .popup .sous-titre {
  color: #F38F9A;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 4%;
  display: block;
}
/* line 334, ../sass/general.scss */
.container .overlay .popup .error {
  margin: 3% auto;
  color: red;
  font-size: 2vw;
}
/* line 340, ../sass/general.scss */
.container .overlay .close {
  color: #aaa;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 4vw;
}
/* line 348, ../sass/general.scss */
.container .overlay.orientation {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 351, ../sass/general.scss */
.container .overlay.orientation .content-orientation {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  right: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  width: 80%;
  height: 45%;
  padding: 8%;
  border-radius: 5%;
}
/* line 365, ../sass/general.scss */
.container .overlay.orientation .content-orientation img {
  width: 50%;
  display: inline-block;
  margin: auto;
  right: 0;
}
/* line 371, ../sass/general.scss */
.container .overlay.orientation .content-orientation p {
  text-transform: uppercase;
  font-size: 5vw;
  color: #F38F9A;
  margin: 7% 0;
}

/* line 382, ../sass/general.scss */
.btn_toddle {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 392, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 3, ../sass/result.scss */
body {
  overflow: hidden;
}

/* line 8, ../sass/result.scss */
.container .content {
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
}
/* line 12, ../sass/result.scss */
.container .content p {
  text-transform: uppercase;
  color: #355E7E;
}
/* line 15, ../sass/result.scss */
.container .content p.announce {
  color: #F38F9A;
  margin: 2% 0 3% 0;
}
/* line 18, ../sass/result.scss */
.container .content p.announce span {
  color: #355E7E;
}
/* line 23, ../sass/result.scss */
.container .content .listeUser {
  width: 67%;
  float: left;
  overflow: scroll;
  overflow-x: hidden;
  height: 42vw;
  text-align: left;
  padding: 0 0 0 10%;
  margin: 0 2% 0 0;
}
/* line 32, ../sass/result.scss */
.container .content .listeUser li {
  color: #355E7E;
}
/* line 34, ../sass/result.scss */
.container .content .listeUser li.own {
  color: #F38F9A;
}
/* line 37, ../sass/result.scss */
.container .content .listeUser li .nbr {
  width: 13%;
  display: inline-block;
}
/* line 41, ../sass/result.scss */
.container .content .listeUser li .pseudo {
  display: inline-block;
}
/* line 44, ../sass/result.scss */
.container .content .listeUser li .time {
  font-weight: normal;
  float: right;
  padding: 0 8%;
}
/* line 51, ../sass/result.scss */
.container .content .giftBlock {
  padding: 2.5% 2% 0 0;
  font-size: 2.4vw;
}
/* line 54, ../sass/result.scss */
.container .content .giftBlock .trait {
  border: 2px solid #F38F9A;
  width: 20%;
  margin: 2% auto;
}
/* line 59, ../sass/result.scss */
.container .content .giftBlock button {
  font-size: 4vw;
}
/* line 61, ../sass/result.scss */
.container .content .giftBlock button .fa-stack {
  margin-top: 5%;
}
/* line 64, ../sass/result.scss */
.container .content .giftBlock button .fa-circle {
  color: #F38F9A;
}

/* line 72, ../sass/result.scss */
.blocEmail {
  position: absolute;
  top: -30%;
  text-align: center;
  left: 0;
  right: 0;
  background: #fff;
  width: 35%;
  margin: auto;
  border: 2px solid #000;
  padding: 3%;
  font-size: 1.5rem;
  border-radius: 10px;
}
/* line 85, ../sass/result.scss */
.blocEmail .fa-stack {
  margin-bottom: 2%;
  font-size: 2rem;
  color: #355E7E;
}

/* line 95, ../sass/result.scss */
.popup {
  display: flex;
  align-items: center;
}
/* line 98, ../sass/result.scss */
.popup label {
  font-size: 2vw;
}
/* line 101, ../sass/result.scss */
.popup input {
  border-radius: 50px;
  color: #355E7E;
  border: 2px solid #355E7E;
  text-align: center;
  padding: 2% 3%;
  display: inline-block;
  margin: 5% 0;
  font-size: 3vw;
}
/* line 111, ../sass/result.scss */
.popup button {
  font-size: 3.5vw;
}
/* line 113, ../sass/result.scss */
.popup button .fa-circle {
  color: #355E7E;
}

/* line 119, ../sass/result.scss */
::-webkit-scrollbar {
  width: 5px;
}

/* line 123, ../sass/result.scss */
::-webkit-scrollbar-track {
  background-color: #F38F9A;
  border-radius: 8px;
}

/* line 128, ../sass/result.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #355E7E;
}
