@charset "UTF-8";
@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf);
}
/* line 39, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* ###### CRÉDITS ###### */
/* line 50, ../sass/general.scss */
.credits {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  padding: 50px 30px;
  z-index: 10000;
  background-color: white;
}
/* line 51, ../sass/general.scss */
.credits #croix {
  position: absolute;
  right: 10%;
  color: #aaa;
}
/* line 64, ../sass/general.scss */
.credits .title {
  font-size: 72px;
  font-weight: 600;
  color: #F38F9A;
  width: 100%;
  text-align: center;
}
/* line 71, ../sass/general.scss */
.credits .justify {
  text-align: justify;
}
/* line 74, ../sass/general.scss */
.credits .content {
  font-size: 20px;
  color: #355E7E;
  font-weight: 600;
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}
/* line 82, ../sass/general.scss */
.credits .logo {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

/* line 89, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* line 93, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 98, ../sass/general.scss */
.container * {
  outline: none;
  box-sizing: border-box;
}
/* line 102, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 105, ../sass/general.scss */
.container img {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}
/* line 110, ../sass/general.scss */
.container button {
  background: none;
  border: none;
  font-family: 'GothamRounded';
  text-transform: uppercase;
  font-weight: 600;
}
/* line 117, ../sass/general.scss */
.container header {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 124, ../sass/general.scss */
.container header .toddle_form {
  height: 80%;
  float: left;
}
/* line 128, ../sass/general.scss */
.container header .toddle_text {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  height: 50%;
}
/* line 136, ../sass/general.scss */
.container header .blockRight {
  position: absolute;
  right: 5%;
  top: 40%;
  width: auto;
  font-size: 25px;
}
/* line 142, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  color: #F38F9A;
  display: inline-block;
}
/* line 146, ../sass/general.scss */
.container header .blockRight .chrono {
  display: inline-block;
}
/* line 148, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 25px;
  color: #F38F9A;
  display: inline-block;
  width: 50px;
  text-align: center;
  border: none;
  background: none;
}
/* line 160, ../sass/general.scss */
.container footer {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 1%;
  right: 2%;
}
/* line 166, ../sass/general.scss */
.container footer img {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
}
/* line 172, ../sass/general.scss */
.container .overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 184, ../sass/general.scss */
.container .overlay .popup {
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 15px;
  color: #355E7E;
  font-size: 20px;
}
/* line 198, ../sass/general.scss */
.container .overlay .popup .sous-titre {
  color: #F38F9A;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 4%;
  display: block;
}
/* line 205, ../sass/general.scss */
.container .overlay .popup .error {
  margin: 3% auto;
  color: red;
  font-size: 2vw;
}
/* line 211, ../sass/general.scss */
.container .overlay .close {
  color: #aaa;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 4vw;
}

/* line 221, ../sass/general.scss */
.btn_toddle {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 231, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 3, ../sass/result.scss */
body {
  overflow: hidden;
}

/* line 7, ../sass/result.scss */
.content {
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
}
/* line 11, ../sass/result.scss */
.content p {
  text-transform: uppercase;
  color: #355E7E;
}
/* line 14, ../sass/result.scss */
.content p.announce {
  color: #F38F9A;
  margin: 2% 0 3% 0;
}
/* line 17, ../sass/result.scss */
.content p.announce span {
  color: #355E7E;
}
/* line 22, ../sass/result.scss */
.content .listeUser {
  width: 67%;
  float: left;
  overflow: scroll;
  overflow-x: hidden;
  height: 42vw;
  text-align: left;
  padding: 0 0 0 10%;
  margin: 0 2% 0 0;
}
/* line 31, ../sass/result.scss */
.content .listeUser li {
  color: #355E7E;
}
/* line 33, ../sass/result.scss */
.content .listeUser li.own {
  color: #F38F9A;
}
/* line 36, ../sass/result.scss */
.content .listeUser li .nbr {
  width: 13%;
  display: inline-block;
}
/* line 40, ../sass/result.scss */
.content .listeUser li .pseudo {
  display: inline-block;
}
/* line 43, ../sass/result.scss */
.content .listeUser li .time {
  font-weight: normal;
  float: right;
  padding: 0 8%;
}
/* line 50, ../sass/result.scss */
.content .giftBlock {
  padding: 2.5% 2% 0 0;
  font-size: 2.4vw;
}
/* line 53, ../sass/result.scss */
.content .giftBlock .trait {
  border: 2px solid #F38F9A;
  width: 20%;
  margin: 2% auto;
}
/* line 58, ../sass/result.scss */
.content .giftBlock button {
  font-size: 4vw;
}
/* line 60, ../sass/result.scss */
.content .giftBlock button .fa-stack {
  margin-top: 5%;
}
/* line 63, ../sass/result.scss */
.content .giftBlock button .fa-circle {
  color: #F38F9A;
}

/* line 71, ../sass/result.scss */
.blocEmail {
  position: absolute;
  top: -30%;
  text-align: center;
  left: 0;
  right: 0;
  background: #fff;
  width: 35%;
  margin: auto;
  border: 2px solid black;
  padding: 3%;
  font-size: 1.5rem;
  border-radius: 10px;
}
/* line 84, ../sass/result.scss */
.blocEmail .fa-stack {
  margin-bottom: 2%;
  font-size: 2rem;
  color: #355E7E;
}

/* line 91, ../sass/result.scss */
.popup {
  display: flex;
  align-items: center;
}
/* line 94, ../sass/result.scss */
.popup label {
  font-size: 2vw;
}
/* line 97, ../sass/result.scss */
.popup input {
  border-radius: 50px;
  color: #355E7E;
  border: 2px solid #355E7E;
  text-align: center;
  padding: 2% 3%;
  display: inline-block;
  margin: 5% 0;
  font-size: 3vw;
}
/* line 107, ../sass/result.scss */
.popup button {
  font-size: 3.5vw;
}
/* line 109, ../sass/result.scss */
.popup button .fa-circle {
  color: #355E7E;
}

/* line 115, ../sass/result.scss */
::-webkit-scrollbar {
  width: 5px;
}

/* line 119, ../sass/result.scss */
::-webkit-scrollbar-track {
  background-color: #F38F9A;
  border-radius: 8px;
}

/* line 124, ../sass/result.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #355E7E;
}
