@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf);
}
/* line 39, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* line 48, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* line 52, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 57, ../sass/general.scss */
.container * {
  outline: none;
  box-sizing: border-box;
}
/* line 61, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 64, ../sass/general.scss */
.container button {
  background: none;
  border: none;
  font-family: 'GothamRounded';
  text-transform: uppercase;
  font-weight: 600;
}
/* line 71, ../sass/general.scss */
.container header {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 78, ../sass/general.scss */
.container header .toddle_form {
  height: 80%;
  float: left;
}
/* line 82, ../sass/general.scss */
.container header .toddle_text {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  height: 50%;
}
/* line 90, ../sass/general.scss */
.container header .blockRight {
  position: absolute;
  right: 5%;
  top: 40%;
  width: auto;
  font-size: 25px;
}
/* line 96, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  color: #F38F9A;
  display: inline-block;
}
/* line 100, ../sass/general.scss */
.container header .blockRight .chrono {
  display: inline-block;
}
/* line 102, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 25px;
  color: #F38F9A;
  display: inline-block;
  width: 50px;
  text-align: center;
  border: none;
  background: none;
}
/* line 114, ../sass/general.scss */
.container .overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 126, ../sass/general.scss */
.container .overlay .popup {
  background-color: #fefefe;
  border: 15px solid #F38F9A;
  border-radius: 15px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 15px;
}
/* line 140, ../sass/general.scss */
.container .overlay .close {
  color: #aaa;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 4vw;
}

/* line 150, ../sass/general.scss */
.btn_toddle, .container .lessons .lesson.up .understood {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 160, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 6, ../sass/tuto.scss */
.container p {
  text-align: center;
}
/* line 9, ../sass/tuto.scss */
.container .entete {
  color: #355E7E;
  margin: 0 0 2% 0;
}
/* line 12, ../sass/tuto.scss */
.container .entete p {
  width: 70%;
  margin: 0 auto;
  font-size: 2.2vw;
}
/* line 16, ../sass/tuto.scss */
.container .entete p:first-child {
  width: auto;
  font-size: 3.2vw;
  font-weight: 600;
  margin: 0% 0 2% 0;
}
/* line 22, ../sass/tuto.scss */
.container .entete p span {
  color: #F38F9A;
}
/* line 27, ../sass/tuto.scss */
.container .lessons {
  height: 59%;
  width: 100%;
  color: #fff;
}
/* line 31, ../sass/tuto.scss */
.container .lessons .lesson {
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 40, ../sass/tuto.scss */
.container .lessons .lesson .content *, .container .lessons .lesson .fa-chevron-left {
  display: none;
}
/* line 43, ../sass/tuto.scss */
.container .lessons .lesson .content {
  color: #fff;
}
/* line 45, ../sass/tuto.scss */
.container .lessons .lesson .content hr {
  border: 4px solid #fff;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
}
/* line 54, ../sass/tuto.scss */
.container .lessons .lesson .content .number {
  box-sizing: content-box;
  display: inline-block;
  font-weight: bold;
  border: none;
  width: auto;
  height: auto;
  margin: 12% 0 2% 0;
  line-height: inherit;
  font-size: 5.4vw;
}
/* line 66, ../sass/tuto.scss */
.container .lessons .lesson .fa-chevron-left {
  position: absolute;
  left: -9.5%;
  bottom: 6%;
  color: #fff;
  font-size: 5.5vw;
}
/* line 73, ../sass/tuto.scss */
.container .lessons .lesson:first-child {
  border-radius: 20px 0 0 20px;
  background: #F8B195;
}
/* line 76, ../sass/tuto.scss */
.container .lessons .lesson:first-child .understood {
  color: #F8B195;
}
/* line 80, ../sass/tuto.scss */
.container .lessons .lesson:nth-child(2) {
  background: #F38F9A;
}
/* line 82, ../sass/tuto.scss */
.container .lessons .lesson:nth-child(2) .understood {
  color: #F38F9A;
}
/* line 86, ../sass/tuto.scss */
.container .lessons .lesson:last-child {
  border-radius: 0 20px 20px 0;
  background: #355E7E;
}
/* line 89, ../sass/tuto.scss */
.container .lessons .lesson:last-child .understood {
  color: #355E7E;
}
/* line 94, ../sass/tuto.scss */
.container .lessons .lesson.up {
  width: 80%;
}
/* line 96, ../sass/tuto.scss */
.container .lessons .lesson.up .fa-chevron-left {
  display: block;
}
/* line 100, ../sass/tuto.scss */
.container .lessons .lesson.up .content hr {
  display: none;
}
/* line 103, ../sass/tuto.scss */
.container .lessons .lesson.up .content .number {
  margin: 2% 0 2% 0;
  font-size: 7vw;
  box-sizing: content-box;
  border-radius: 50%;
  border: 7px solid #fff;
  display: inline-block;
  font-weight: bold;
  width: 10%;
  line-height: 80px;
}
/* line 114, ../sass/tuto.scss */
.container .lessons .lesson.up .content .group_gif {
  width: 50%;
  margin: 2% auto;
}
/* line 117, ../sass/tuto.scss */
.container .lessons .lesson.up .content .group_gif img {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
/* line 123, ../sass/tuto.scss */
.container .lessons .lesson.up .content .map {
  width: 50%;
  margin: 2% auto;
}
/* line 127, ../sass/tuto.scss */
.container .lessons .lesson.up .content p {
  font-size: 2vw;
  width: 60vw;
  margin: 0 auto;
}
/* line 132, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul {
  margin: 2% 12% 0 0;
}
/* line 135, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li {
  width: 50%;
  float: left;
  margin: 0 0 3% 0;
}
/* line 139, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li p, .container .lessons .lesson.up .content ul li img {
  display: inline-block;
}
/* line 142, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li p {
  width: 100%;
  margin: 2% 0;
}
/* line 146, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li img {
  width: 19%;
  animation: animate_icon .9s infinite linear alternate;
}
/* line 152, ../sass/tuto.scss */
.container .lessons .lesson.up .content * {
  display: block;
}
/* line 157, ../sass/tuto.scss */
.container .lessons .lesson.up .understood {
  background: #fff;
  position: absolute;
  right: 2%;
  bottom: 3%;
  padding: 0;
  width: 9%;
  height: 16%;
}

@keyframes animate_icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
