@charset "UTF-8";
@import url(../stylesheets/reset.css);
@import url(../stylesheets/font-awesome.min.css);
/* ###### VARIABLES ###### */
/* ###### FONTS ###### */
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBook.ttf);
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedMedium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "GothamRounded";
  src: url(../fonts/GothamRoundedItalic.otf);
  font-style: italic;
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}
/* line 51, ../sass/general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "GothamRounded", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/* ###### CRÉDITS ###### */
/* line 62, ../sass/general.scss */
.credits {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  z-index: 10000;
  background-color: white;
}
/* line 63, ../sass/general.scss */
.credits #croix {
  position: absolute;
  right: 10%;
  color: #aaa;
  margin-top: 50px;
}
/* line 76, ../sass/general.scss */
.credits .title {
  font-size: 72px;
  color: #F38F9A;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
/* line 85, ../sass/general.scss */
.credits .content {
  font-size: 20px;
  color: #355E7E;
  font-weight: 600;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
/* line 92, ../sass/general.scss */
.credits .content .chevron {
  width: 40px;
  margin-top: 22%;
  position: absolute;
}
/* line 97, ../sass/general.scss */
.credits .content #chevronDroite {
  right: 3%;
}
/* line 100, ../sass/general.scss */
.credits .content #chevronGauche {
  transform: rotate(180deg);
  left: 3%;
  display: none;
}
/* line 105, ../sass/general.scss */
.credits .content .ariane {
  text-align: center;
}
/* line 107, ../sass/general.scss */
.credits .content .ariane .apoint {
  width: 20px;
  margin: 0 10px;
}
/* line 112, ../sass/general.scss */
.credits .content .texte {
  width: 100%;
  margin-top: 20px;
  height: 400px;
  overflow: hidden;
}
/* line 117, ../sass/general.scss */
.credits .content .texte #sous-texte {
  display: flex;
  height: 380px;
  width: 300%;
}
/* line 121, ../sass/general.scss */
.credits .content .texte #sous-texte > * {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 127, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright {
  padding-right: 15px;
  overflow-y: scroll;
}
/* line 130, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F38F9A;
}
/* line 137, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar {
  width: 7px;
  margin-left: 5px;
}
/* line 143, ../sass/general.scss */
.credits .content .texte #sous-texte > * .sright::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #355E7E;
}
/* line 152, ../sass/general.scss */
.credits .content .justify {
  text-align: justify;
}
/* line 155, ../sass/general.scss */
.credits .content .bottom {
  width: 120%;
  margin-left: -10%;
}
/* line 158, ../sass/general.scss */
.credits .content .bottom .flexbottom {
  display: flex;
  align-items: stretch;
}
/* line 161, ../sass/general.scss */
.credits .content .bottom .flexbottom > * {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-direction: column;
}
/* line 168, ../sass/general.scss */
.credits .content .bottom .flexbottom > * .antoine {
  margin-top: 17px;
}
/* line 171, ../sass/general.scss */
.credits .content .bottom .flexbottom > * .fct {
  margin-top: 7px;
}
/* line 175, ../sass/general.scss */
.credits .content .bottom .flexbottom .logo {
  align-self: flex-start;
  width: 100px;
}

/* ###### HANDCLICK TUTO ###### */
/* line 187, ../sass/general.scss */
#handclick {
  position: absolute;
  width: 110px;
  height: 110px;
}

/* line 193, ../sass/general.scss */
.fa {
  vertical-align: middle;
}

/* ###### Class for colors ###### */
/* line 198, ../sass/general.scss */
.rose {
  color: #F38F9A;
}

/* line 201, ../sass/general.scss */
.bleu {
  color: #355E7E;
}

/* line 204, ../sass/general.scss */
.beige {
  color: #F8B195;
}

/* line 207, ../sass/general.scss */
.noir {
  color: black;
}

/* line 210, ../sass/general.scss */
.six {
  font-weight: 600;
}

/* line 213, ../sass/general.scss */
.bold {
  font-weight: bold;
}

/* line 216, ../sass/general.scss */
.center {
  text-align: center;
}

/* line 219, ../sass/general.scss */
i {
  font-style: italic;
}

/* line 222, ../sass/general.scss */
.container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 227, ../sass/general.scss */
.container * {
  outline: none;
  box-sizing: border-box;
}
/* line 231, ../sass/general.scss */
.container input {
  font-family: 'GothamRounded';
}
/* line 234, ../sass/general.scss */
.container button {
  background: none;
  border: none;
  font-family: 'GothamRounded';
  text-transform: uppercase;
  font-weight: 600;
}
/* line 241, ../sass/general.scss */
.container header {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  height: 15%;
}
/* line 248, ../sass/general.scss */
.container header .toddle_form {
  height: 80%;
  float: left;
}
/* line 252, ../sass/general.scss */
.container header .toddle_text {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  height: 50%;
}
/* line 260, ../sass/general.scss */
.container header .blockRight {
  position: absolute;
  right: 5%;
  top: 3vw;
  width: auto;
  font-size: 2.5vw;
  font-weight: normal;
  color: #F38F9A;
}
/* line 268, ../sass/general.scss */
.container header .blockRight .name, .container header .blockRight .chrono {
  display: inline-block;
}
/* line 272, ../sass/general.scss */
.container header .blockRight .chrono input {
  font-size: 2.5vw;
  color: #F38F9A;
  display: inline-block;
  width: 6vw;
  text-align: center;
  border: none;
  background: none;
}
/* line 282, ../sass/general.scss */
.container header .blockRight .defi {
  text-align: right;
}
/* line 287, ../sass/general.scss */
.container footer {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
/* line 293, ../sass/general.scss */
.container footer img {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
}
/* line 300, ../sass/general.scss */
.container .overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 312, ../sass/general.scss */
.container .overlay .popup {
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 15px;
  color: #355E7E;
  font-size: 20px;
}
/* line 326, ../sass/general.scss */
.container .overlay .popup .sous-titre {
  color: #F38F9A;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 4%;
  display: block;
}
/* line 333, ../sass/general.scss */
.container .overlay .popup .error {
  margin: 3% auto;
  color: red;
  font-size: 2vw;
}
/* line 339, ../sass/general.scss */
.container .overlay .close {
  color: #aaa;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 4vw;
}
/* line 347, ../sass/general.scss */
.container .overlay.orientation {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 350, ../sass/general.scss */
.container .overlay.orientation .content-orientation {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  right: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  width: 80%;
  height: 45%;
  padding: 8%;
  border-radius: 5%;
}
/* line 364, ../sass/general.scss */
.container .overlay.orientation .content-orientation img {
  width: 50%;
  display: inline-block;
  margin: auto;
  right: 0;
}
/* line 370, ../sass/general.scss */
.container .overlay.orientation .content-orientation p {
  text-transform: uppercase;
  font-size: 5vw;
  color: #F38F9A;
  margin: 7% 0;
}

/* line 381, ../sass/general.scss */
.btn_toddle, .container .lessons .lesson.up .understood {
  background: #355E7E;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  margin: 0 auto;
}

/* line 391, ../sass/general.scss */
.btn_help {
  background: #F38F9A;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  width: 70px;
  height: 70px;
}

/* line 6, ../sass/tuto.scss */
.container p {
  text-align: center;
}
/* line 9, ../sass/tuto.scss */
.container .entete {
  color: #355E7E;
  margin: 0 0 2% 0;
}
/* line 12, ../sass/tuto.scss */
.container .entete p {
  width: 70%;
  margin: 0 auto;
  font-size: 2.2vw;
}
/* line 16, ../sass/tuto.scss */
.container .entete p:first-child {
  width: auto;
  font-size: 3.2vw;
  font-weight: 600;
  margin: 0% 0 2% 0;
}
/* line 22, ../sass/tuto.scss */
.container .entete p span {
  color: #F38F9A;
}
/* line 27, ../sass/tuto.scss */
.container .lessons {
  height: 68%;
  width: 100%;
  color: #fff;
}
/* line 31, ../sass/tuto.scss */
.container .lessons .lesson {
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 40, ../sass/tuto.scss */
.container .lessons .lesson .content *, .container .lessons .lesson .fa-chevron-left {
  display: none;
}
/* line 43, ../sass/tuto.scss */
.container .lessons .lesson .content {
  color: #fff;
}
/* line 45, ../sass/tuto.scss */
.container .lessons .lesson .content hr {
  border: 4px solid #fff;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
}
/* line 54, ../sass/tuto.scss */
.container .lessons .lesson .content .number {
  box-sizing: content-box;
  display: inline-block;
  font-weight: bold;
  border: none;
  width: auto;
  height: auto;
  margin: 12% 0 2% 0;
  line-height: inherit;
  font-size: 5.4vw;
}
/* line 66, ../sass/tuto.scss */
.container .lessons .lesson .fa-chevron-left {
  position: absolute;
  left: -9.5%;
  bottom: 6%;
  color: #fff;
  font-size: 5.5vw;
}
/* line 73, ../sass/tuto.scss */
.container .lessons .lesson:first-child {
  border-radius: 20px 0 0 0;
  background: #F8B195;
}
/* line 76, ../sass/tuto.scss */
.container .lessons .lesson:first-child .understood {
  color: #F8B195;
}
/* line 80, ../sass/tuto.scss */
.container .lessons .lesson:nth-child(2) {
  background: #F38F9A;
}
/* line 82, ../sass/tuto.scss */
.container .lessons .lesson:nth-child(2) .understood {
  color: #F38F9A;
}
/* line 86, ../sass/tuto.scss */
.container .lessons .lesson:nth-child(3) {
  background: #355E7E;
}
/* line 88, ../sass/tuto.scss */
.container .lessons .lesson:nth-child(3) .understood {
  color: #355E7E;
}
/* line 92, ../sass/tuto.scss */
.container .lessons .lesson:last-child {
  border-radius: 0 20px 0 0;
  background: #fff;
  border: 5px solid #355E7E;
  border-bottom: none;
}
/* line 97, ../sass/tuto.scss */
.container .lessons .lesson:last-child .number, .container .lessons .lesson:last-child .understood {
  color: #355E7E;
}
/* line 100, ../sass/tuto.scss */
.container .lessons .lesson:last-child hr {
  border-color: #355E7E;
}
/* line 105, ../sass/tuto.scss */
.container .lessons .lesson.up {
  width: 70%;
}
/* line 107, ../sass/tuto.scss */
.container .lessons .lesson.up .fa-chevron-left {
  display: block;
}
/* line 111, ../sass/tuto.scss */
.container .lessons .lesson.up .content hr {
  display: none;
}
/* line 114, ../sass/tuto.scss */
.container .lessons .lesson.up .content .number {
  margin: 2% auto 2% auto;
  font-size: 7vw;
  box-sizing: content-box;
  border-radius: 50%;
  border: 1vw solid #fff;
  display: block;
  font-weight: bold;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
}
/* line 125, ../sass/tuto.scss */
.container .lessons .lesson.up .content .number.spec {
  border-color: #355E7E;
}
/* line 129, ../sass/tuto.scss */
.container .lessons .lesson.up .content .group_gif {
  width: 50%;
  margin: 2% auto;
}
/* line 132, ../sass/tuto.scss */
.container .lessons .lesson.up .content .group_gif img {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
/* line 138, ../sass/tuto.scss */
.container .lessons .lesson.up .content .map {
  width: 50%;
  margin: 2% auto;
}
/* line 142, ../sass/tuto.scss */
.container .lessons .lesson.up .content p {
  font-size: 2vw;
  width: 62vw;
  margin: 0 auto;
}
/* line 147, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul {
  margin: 2% 12% 0 0;
}
/* line 150, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 3% 0;
}
/* line 155, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li p, .container .lessons .lesson.up .content ul li img {
  display: inline-block;
}
/* line 158, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li p {
  width: 100%;
  margin: 2% 0;
}
/* line 162, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li img {
  width: 19%;
  animation: animate_icon .9s infinite linear alternate;
}
/* line 166, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li .fa-stack {
  display: inline-block;
  font-size: 35px;
  animation: animate_icon .9s infinite linear alternate;
}
/* line 170, ../sass/tuto.scss */
.container .lessons .lesson.up .content ul li .fa-stack .fa-question {
  color: #355E7E;
}
/* line 176, ../sass/tuto.scss */
.container .lessons .lesson.up .content .blocL4 {
  text-align: center;
  width: 50%;
  float: left;
  color: #355E7E;
}
/* line 181, ../sass/tuto.scss */
.container .lessons .lesson.up .content .blocL4 .containerImg {
  background: #355E7E;
  display: block;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  margin: 0 auto;
}
/* line 189, ../sass/tuto.scss */
.container .lessons .lesson.up .content .blocL4 .containerImg img {
  padding-bottom: 6%;
  width: 68%;
  display: inline-block;
  vertical-align: middle;
}
/* line 196, ../sass/tuto.scss */
.container .lessons .lesson.up .content .blocL4 p {
  display: inline-block;
  width: auto;
  margin: 6% 0;
  padding: 0 7%;
  font-weight: 600;
}
/* line 205, ../sass/tuto.scss */
.container .lessons .lesson.up .content * {
  display: block;
}
/* line 211, ../sass/tuto.scss */
.container .lessons .lesson.up .understood {
  background: #fff;
  position: absolute;
  right: 2%;
  bottom: 3%;
  padding: 0;
  width: 8vw;
  height: 8vw;
}
/* line 220, ../sass/tuto.scss */
.container .lessons .lesson.up .understood.go {
  background: #355E7E;
  color: #fff;
  right: 0;
  left: 0;
  bottom: 6%;
  margin: auto;
  width: 10vw;
  height: 10vw;
  font-size: 4.5vw;
}

@keyframes animate_icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
